// http://chir.ag/projects/name-that-color/

// Colors
$grey: #4d4d4d;
$greyLight: #9fa1a3;
$white: #ffffff;
$whiteAlt: #ebeff2;
$blue: #2577ba;
$blueDark: #000936;
$bluelight: #2a94d6;
$mutedWhite: #a1aebe; // Adjusted for AA contrast check
$pink: #ce616e;
$purple: #7b66c8;
$green: #a1c765;
$red: #aa1111;
// ------------------------------
// Semantic colour names
// ------------------------------
$link-colour: #ff0000;
$text-colour: $grey;
$secondary-text-colour: $greyLight;
