// Measurements used across the site
$site-width: 960px;

$full-width: 100%;
// $one-quarter: $full-width/4;
// $one-third: $full-width/3;
// $half: $full-width/2;
// $two-thirds: ($full-width)-($one-third);
// $three-quarters: ($full-width)-($one-quarter);

$gutter: 30px;
$gutter-half: $gutter/2;
