.global-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #243042;
    color: #ffffff;
}

.global-footer__wrapper {
    @extend %site-width-container;
    @extend %contain-floats;
}

.global-footer__link--social {
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;
    fill: $whiteAlt !important;

    :hover {
        fill: $blueDark;
    }

    svg {
        display: inline-block;
        width: 24px;
        height: 24px;
    }
}
