.global-footer {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $blueDark;
    font-size: 12px;
}

.global-footer__wrapper {
    @extend %site-width-container;
    @extend %contain-floats;
}

.global-footer__link--social {
    display: inline-block;
    margin-left: 12px;
    
    &:hover {
        svg {
            fill: #ffffff;
        }
    }

    svg {
        display: block;
        height: 30px;
        width: 30px;
        fill: $mutedWhite;
    }
}
