.hero,
.section {
    // background-color: $white;
    padding: 48px 0;
    position: relative;

}

.hero {
    // background-color: transparent;
    color: $white;
    display: none;
}

.section:nth-child(odd) {
    // background-color: $whiteAlt;
}
