.hero,
.section {
    background-color: $white;
    padding: 48px 0;
    position: relative;

}

.hero {
    background-color: $blueDark;
    color: $white;
}

.section:nth-child(odd) {
    background-color: $whiteAlt;
}
