.hero,
.section {
    background-color: $white;
    padding: 48px 0;
    position: relative;

}

.hero {
    background-color: $blueDark;
    color: $white;
    
    background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, #000936, #4b3958 50%, #894671) repeat scroll 0 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

    img {
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
    }
}

.section:nth-child(odd) {
    background-color: $whiteAlt;
}
