@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@function em($px, $base: 18) {
    @return ($px / $base) + em;
}

body {
    // background-color: $blueDark;
    color: $grey;
    font-family: "Open Sans","Helvetica Neue","Helvetica",sans-serif;
    font-size: 15px;
    line-height: 24px;
}

p {
    margin-bottom: 24px;
}

.heading--xl {
    // 4x LH
    font-size: 60px;
    line-height: 72px;
    padding-top: 8px;
    margin-bottom: 16px;
    font-weight: 800;
    letter-spacing: -3px;
}

.heading--pttn,
.heading--l {
    // 3x LH
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 40px;
    margin-bottom: 18px;
    padding-top: 14px;
    
    // @include media(tablet) {
    //     font-size: 36px;
    // }
}

.heading--pttn {
    border-bottom: 1px solid $grey;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 47px;
    margin-bottom: 48px;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.heading {
    // 2x LH
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.ledeOut,
.lede {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    font-weight: 600;
}

blockquote {
    text-align: center;

    p {
        font-size: 40px;
        font-style: italic;
        letter-spacing: -1;
        line-height: 60px;
        margin-bottom: 12px;

        &::before {
            content: "\"";
        }
        &::after {
            content: "\"";
        }

    }
    
    cite {
        font-size: 20px;
        letter-spacing: -1px;
        display: block;
    }
}

.list {
    margin-bottom: 24px;
    list-style: disc outside none;

    > li {
        margin-left: 15px;
        padding-left: 9px;

    }
}
// .list {
//     list-style-type: none;
//     margin-top: em(5, 16);
//     margin-bottom: em(20, 16);

//     @include media(tablet) {
//         margin-top: em(5);
//         margin-bottom: em(20);
//     }

//     > li {
//         margin-bottom: 15px;
//     }
// }

// .list__heading {
    //@include heading-style();
//     font-size: 1.333em;
//     margin-bottom: 0;
//     line-height: em(38, 24);
// }
