.design-illustration {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.design-illustration__doughnuts{
  transform: rotate(-6deg);
  margin-left: auto;
  margin-right: auto;
  // @include media(tablet) {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.design-illustration__coffee{
  position: absolute;
  top: -25px;
  left: 15px;
}

.design-illustration__tea{
  position: absolute;
  bottom: -25px;
  right: 25px;
}

.design-illustration__swirl{
  position: absolute;
  transform-origin: 30px 30px;
  // ANIMATION
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: spin;
  // FORCE HWA
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  // END ANIMATION

  .anim-paused & {
    animation-play-state: paused;
  }
}

.design-illustration__red-sharpie{
  position: absolute;
  bottom: -50px;
  left: 50px;
  transform: rotate(84deg);
}

.design-illustration__black-sharpie{
  position: absolute;
  bottom: -70px;
  left: 50px;
  transform: rotate(84deg);
}

.design-illustration__notebook{
  display: none;
  position: absolute;
  bottom: -50px;
  left: 0px;
}
