.design-illustration {
  position: relative;
  height: 340px;
}

.design-illustration__doughnuts {
	transform: rotate(15deg);
	right: 150px;
	position: absolute;
	top: 55px;
}

.design-illustration__coffee {
	position: absolute;
	top: 0;
	right: 75px;
}

.design-illustration__black-sharpie {
	position: absolute;
	top: 30px;
	right: 30px;
	transform: rotate(195deg);
}

.design-illustration__tea {
	position: absolute;
	bottom: -25px;
	left: 0;
}

.design-illustration__swirl{
  position: absolute;
  transform-origin: 30px 30px;
  // ANIMATION
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: spin;
  // FORCE HWA
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  // END ANIMATION

  .anim-paused & {
    animation-play-state: paused;
  }
}

.design-illustration__red-sharpie {
	position: absolute;
	bottom: -7px;
	right: 125px;
	transform: rotate(15deg);
}

.design-illustration__red-sharpie--2 {
	right: 490px;
	transform: rotate(195deg);
	top: 0px;
}

.design-illustration__notebook {
	position: absolute;
	bottom: -25px;
	right: 25px;
	transform: rotate(15deg);
}
