#test {
  overflow: hidden;
  @include media(tablet){
    overflow: visible;
  }
}

.test-illustration {

}

.test-illustration__phone {
  transform: rotate(-15deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  margin-bottom: -125px;

  @include media(tablet){
    margin-top: -100px;
    margin-bottom: -100px;
  }


}
