.sass-cache
.DS_Store
.idea/
.start.pid
.bundle
.config.json


# Ignore dependencies
node_modules
bower_components

# Ignore compiled assets
app/public/stylesheets/
app/public/images/
app/public/javascripts/
app/public/*.html
app/public/*.json

*.ai
