.sass-cache
.DS_Store
.idea/
.start.pid
.bundle

# ~~ Shhhh ~~ Don't commit API keys
.config.json

# Ignore dependencies
node_modules
bower_components

# Ignore compiled assets
app/public/stylesheets/
app/public/images/
app/public/javascripts/

# Ignore test output
tests/tenon/source
tests/tenon/result

*.ai
