.button-totop {
    display: none;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    background-color: $black;
    transition: all 0.1s ease-out 0s;

    .hasCSSScroll & {
        display: block;
    }
    
    &:hover {
        background-color: $acentColour;
        margin-top: -5px;
        margin-left: -25px;
        padding: 10px; 
    }

    svg {
        display: block;
        height: 30px;
        width: 30px;
        fill: $white;
    }

}
