.global-footer {
    position: relative;
    background-color: $backgroundFooter;
    color: $grey3;
    font-size: 12px;
    line-height: 20px;
}

.global-footer__wrapper {
  padding: 50px 0;
}

.global-footer__social {
    @include grid-column(1 / 2, tablet, right);
    text-align: center;
    margin-bottom: $base-line;

    @include media(tablet) {
        text-align: right;
        margin-bottom: 0;
    }

    // Social links
    a {
    display: inline-block;
    height: 24px;
    width: 24px;


        &:hover {
            svg {
                fill: $acentColour;
            }
        }

        svg {
            display: block;
            height: 24px;
            width: 24px;
            fill: $white;
        }
    }

    a + a {
        margin-left: 25px;
    }
}

.global-footer__copyright {
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #393F41;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.93333em;
  color: $whiteGrey;
  letter-spacing: -0.05em;

  span {
    color: $acentColour;
  }
}
