.global-footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $backgroundFooter;
    color: $grey3;
    font-size: 12px;
    line-height: 20px;
}

.global-footer__wrapper {
    @extend %site-width-container;
    @extend %contain-floats;
}

.global-footer__social {
    @include grid-column(1 / 2, tablet, right);
    text-align: center;
    margin-bottom: $base-line;

    @include media(tablet) {
            text-align: right;
    }
    
    // Social links
    a {
    border: 1px solid $grey3;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    padding: 7px;
    width: 36px;
        

        &:hover {
            svg {
                fill: $acentColour;
            }
        }

        svg {
            display: block;
            height: 20px;
            width: 20px;
            fill: $grey3;
        }
    }

    a + a {
        margin-left: 25px;
    }
}

.global-footer__copyright {
    @include grid-column(1 / 2);
}
