.global-footer {
  position: relative;
  background-color: $backgroundFooter;
  color: $grey3;
}

.global-footer__wrapper {
  padding: 50px 0 25px;

  @include media(tablet) {
    padding: 50px 0;
  }
}

.global-footer__social {
  text-align: center;
  margin-top: 25px !important;

  @include media(tablet) {
    margin-top: auto !important;
    text-align: right;
  }
  // Social links
  a {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-top: 7px;

    &:hover {
      svg {
        fill: $acentColour;
      }
    }

    svg {
      display: block;
      height: 24px;
      width: 24px;
      fill: $white;
    }
  }

  a + a {
    margin-left: 25px;
  }
}

.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.93333em;
  color: $whiteGrey;
  letter-spacing: -0.05em;
  text-align: center;

  @include media(tablet) {
    text-align: left;
  }

  span {
    color: $acentColour;
  }
}
