// Contain floats usage:
//
// .this-has-floated-children {
//  @extend %contain-floats;
// }
%contain-floats {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin grid-column($width, $float: left) {
  box-sizing: border-box;
  max-width: 530px;
  padding-left: $mobile-gutter;
  padding-right: $mobile-gutter;
  margin-left: auto;
  margin-right: auto;

  @include media(tablet) {
    float: $float;
    width: percentage($width);
    padding-left: $standard-gutter;
    padding-right: $standard-gutter;
    max-width: none;
  }
}

.content {
  @extend %contain-floats;
  max-width: $site-width;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;

  @include media(tablet) {
    margin-left: $standard-gutter;
    margin-right: $standard-gutter;
  }

  @include media(desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.grid-row {
  @extend %contain-floats;
  margin-left: -$mobile-gutter;
  margin-right: -$mobile-gutter;

  @include media(tablet) {
    margin-left: -$standard-gutter;
    margin-right: -$standard-gutter;
  }
}

.column-full {
  @include grid-column( 1 );
}

.column-half {
  @include grid-column( 1/2 );

  + .column-half {
      margin-top: 50px;

      @include media(tablet) {
          margin-top: 0;
      }
  }
}

.column-half--alt {
  @include grid-column( 1/2, $float: right );

  + .column-half--alt {
      margin-top: 50px;

      @include media(tablet) {
          margin-top: 0;
      }
  }
}

.column-third {
  @include grid-column( 1/3 );
}
