.list-grid {
    @extend %contain-floats;

    li {

        width: 100%;
        display: block;


        // background-color: blue;
        @include media(tablet) {
          width: 33.333%;
          float: left;
        }

        @include media(desktop) {
            // background-color: yellow;
            width: 25%;

            &:last-child { display: none;}
        }

        img {
            margin-top: 2px;
            display: block;
        }

    }
}
