.section {
    position: relative;
    background-color: $backgroundSection;
    padding: 75px 0;

    @include media(tablet) {
        padding: 125px 0;
    }
}

.hero {
    position: relative;
    background-color: $black;
    overflow: hidden;
    color: $white;
    padding: 75px 0;
    
    @include media(tablet) {
        padding: 175px 0;
    }

    .grid-row {
        z-index: 1;
        position: relative;
    }

    span {
        color: $acentColour;
    }
}

.callout {
    background-color: $acentColour;
}

.section:nth-child(even) {
    background-color: $backgroundSectionAlt;
}

