.promarker {
    width: 20px;
    top: 10px;
    left: 10px;
}

.promarker__lid {
    fill: #303030;
}

.promarker__lid-lip {
    fill: #000000;
}

.promarker__barrel {
    fill: #dd1f14;
}

.pink .promarker__barrel {
    fill: #bada55;
}

.promarker__label {
    fill: #ffffff;
}
