    <section class="hero">
        <div class="content u-text-center">
            <h2 class="heading--l">Brands I've worked with</h2>
            <p class="u-mt--2 u-mb-0 muted">I have had the pleasure of working with some of the world's most well-known brands</p>
            <ul class="list-grid">
                <li><img src="/images/svg/client-american-express.svg" height="48" class="image-callout" alt="American express"></li>
                <li><img src="/images/svg/client-gov.uk.svg" height="48" class="image-callout" alt="GOV.uk"></li>
                <li><img src="/images/svg/client-johnlewis.svg" height="48" class="image-callout" alt="John Lewis"></li>
                <li><img src="/images/svg/client-lexus.svg" height="48" class="image-callout" alt="Lexus"></li>
                <li><img src="/images/svg/client-manchester-united.svg" height="48" class="image-callout" alt="Manchester United"></li>
                <li><img src="/images/svg/client-tesco.svg" height="48" class="image-callout" alt="Tesco"></li>
                <li><img src="/images/svg/client-toyota.svg" height="48" class="image-callout" alt="Toyota"></li>
                <li><img src="/images/svg/client-vauxhall.svg" height="48" class="image-callout" alt="Vauxhall"></li>
                <li><img src="/images/svg/client-volkswagen.svg" height="48" class="image-callout" alt="Volkswgen"></li>
            </ul>
        </div>
    </section>