<footer class="global-footer">
  <div class="content">
    <div class="grid-row global-footer__wrapper">
      <div class="column-half global-footer__logo">
        <div class="logo">More than <br>just pixels<span>.</span></div>
      </div>
      <div class="column-half global-footer__social">
        <a href="https://www.linkedin.com/in/tcarrington" class="global-footer__link--social" aria-label="Connect on Linkedin"><svg viewBox="0 0 24 24"><use xlink:href="#icon-linkedin"></use></svg></a>
        <a href="https://twitter.com/vis_underground" class="global-footer__link--social" aria-label="Connect on Twitter"><svg viewBox="0 0 24 24"><use xlink:href="#icon-twitter"></use></svg></a>
        <a href="https://github.com/visualunderground" class="global-footer__link--social" aria-label="Connect on GitHub"><svg viewBox="0 0 24 24"><use xlink:href="#icon-github"></use></svg></a>
        <a href="#" class="global-footer__link--social" aria-label="Connect on Medium"><svg viewBox="0 0 24 24"><use xlink:href="#icon-medium"></use></svg></a>
      </div>
    </div>
  </div>

  <div class="global-footer__copyright">
    <div class="content">
      Copyright &copy; 2017 &mdash; Tom Carrington
    </div>
  </div>
  <a href="#content" class="button-totop" aria-label="Back to top">
        <svg viewBox="0 0 30 30"><use xlink:href="#icon-arrow"></use></svg>
  </a>
</footer>
