<footer class="global-footer">
    <div class="global-footer__wrapper">
        <div class="grid-row">
            <div class="column-two-thirds muted">
                &copy; 2001 &mdash; 2016 Tom Carrington.<br>
                Building digital things for human beings and enjoying the hell out of it.
            </div>
            <div class="column-third u-text-right">
                <a href="https://www.linkedin.com/in/tcarrington" class="global-footer__link--social" aria-label="Connect on Linkedin"><svg viewBox="0 0 30 30"><use xlink:href="#icon-linkedin"></use></svg></a>
                <a href="https://twitter.com/vis_underground" class="global-footer__link--social" aria-label="Connect on Twitter"><svg viewBox="0 0 30 30"><use xlink:href="#icon-twitter"></use></svg></a>
                <a href="https://github.com/visualunderground" class="global-footer__link--social" aria-label="Connect on GitHub"><svg viewBox="0 0 30 30"><use xlink:href="#icon-github"></use></svg></a>
            </div>
        </div>
    </div>
    <a href="#content" class="button-totop" aria-label="Back to top">
        <svg viewBox="0 0 30 30"><use xlink:href="#icon-arrow"></use></svg>
    </a>
</footer>
