{{!-- 
<header class="global-header bounce-in-down" role="banner">
    <div class="global-header__wrapper">
        
            <img class="global-header__logo"src="images/person.svg" width="80" height="80" alt="">
        

        <div class="global-header__title">
            <h1>Tom Carrington</h1>
            <h2>UX designer <span>&amp;</span> front-end developer</h2>
        </div>
    </div>
</header>
<style>
    .global-header {
        padding-top: 10px;
    }

    .global-header__logo {
        display: inline-block;
    }
    .global-header__title {
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        margin-top: 1em;
    }

    .global-header__title h1 {
        font-size: 1.333em;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;
    }
    .global-header__title h2 {
        color: #878c94;
        -moz-osx-font-smoothing: auto;
        font-weight: 400;
    }

    .global-header__title h2 span {
        color: #ff8000;
    }
</style>
 --}}
