
<footer class="global-footer" role="contentinfo">
    <div class="global-footer__wrapper">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="https://www.linkedin.com/in/tcarrington" class="global-footer__link--social"><svg viewBox="0 0 24 24"><use xlink:href="#icon-linkedin"></use></svg></a>
                <a href="https://twitter.com/vis_underground" class="global-footer__link--social"><svg viewBox="0 0 24 24"><use xlink:href="#icon-twitter"></use></svg></a>
                <a href="https://github.com/visualunderground" class="global-footer__link--social"><svg viewBox="0 0 24 24"><use xlink:href="#icon-github"></use></svg></a>
            </div>
            <div class="column-third muted">
                &copy; Tom Carrington 2016
            </div>
        </div>
    </div>
</footer>

 