<div class="browser">
    <div class="browser__toolbar">
        <div class="browser__close"></div><div class="browser__minimise"></div><div class="browser__open"></div>
    </div>
    <svg class="browser__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="15" viewBox="0 0 45 15">
        <rect x="0" y="0" width="45" height="15" rx="2" ry="2"/>
    </svg>
    <svg class="browser__hero" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="170" height="50" viewBox="0 0 170 50">
        <rect x="0" y="0" width="170" height="50" rx="2" ry="2"/>
    </svg>
    <svg class="browser__2column" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="170" height="50" viewBox="0 0 170 50">
        <rect x="0" y="0" width="80" height="50" rx="2" ry="2"/>
        <rect x="90" y="0" width="50" height="12" rx="2" ry="2"/>
        <rect x="90" y="16" width="80" height="4" rx="2" ry="2"/>
        <rect x="90" y="23" width="80" height="4" rx="2" ry="2"/>
        <rect x="90" y="30" width="80" height="4" rx="2" ry="2"/>
        <rect x="90" y="42" width="40" height="8" rx="2" ry="2"/>
    </svg>
    <svg class="browser__trio" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="170" height="70" viewBox="0 0 170 70">
        <rect class="first" x="0" y="10" width="50" height="50" rx="2" ry="2"/>
        <rect class="second" x="60" y="10" width="50" height="50" rx="2" ry="2"/>
        <rect class="third" x="120" y="10" width="50" height="50" rx="2" ry="2"/>
    </svg>
</div>
