<div class="browser">
    <div class="browser__toolbar">
        <div class="browser__close"></div><div class="browser__minimise"></div><div class="browser__open"></div>
    </div>
    <svg class="browser__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="15" viewBox="0 0 45 15">
        <rect x="0" y="0" width="45" height="15" rx="2" ry="2"/>
    </svg>
    <svg class="browser__hero" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="171" height="50" viewBox="0 0 171 50">
        <rect x="0" y="0" width="171" height="50" rx="2" ry="2"/>
    </svg>
    <svg class="browser__dynamic-row" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="171" height="50" viewBox="0 0 171 50">
        <rect x="0" y="0" width="81" height="50" rx="2" ry="2"/>
        <rect x="89" y="0" width="50" height="12" rx="2" ry="2"/>
        <path d="M169.000,27.000 L91.000,27.000 C89.895,27.000 89.000,26.105 89.000,25.000 C89.000,23.895 89.895,23.000 91.000,23.000 L169.000,23.000 C170.105,23.000 171.000,23.895 171.000,25.000 C171.000,26.105 170.105,27.000 169.000,27.000 ZM169.000,20.000 L91.000,20.000 C89.895,20.000 89.000,19.105 89.000,18.000 C89.000,16.895 89.895,16.000 91.000,16.000 L169.000,16.000 C170.105,16.000 171.000,16.895 171.000,18.000 C171.000,19.105 170.105,20.000 169.000,20.000 ZM91.000,30.000 L169.000,30.000 C170.105,30.000 171.000,30.895 171.000,32.000 C171.000,33.105 170.105,34.000 169.000,34.000 L91.000,34.000 C89.895,34.000 89.000,33.105 89.000,32.000 C89.000,30.895 89.895,30.000 91.000,30.000 ZM91.000,42.000 L120.000,42.000 C121.105,42.000 122.000,42.895 122.000,44.000 L122.000,48.000 C122.000,49.105 121.105,50.000 120.000,50.000 L91.000,50.000 C89.895,50.000 89.000,49.105 89.000,48.000 L89.000,44.000 C89.000,42.895 89.895,42.000 91.000,42.000 Z"/>
    </svg>
    <svg class="browser__static-row" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="171" height="50" viewBox="0 0 171 50">
        <rect x="0" y="0" width="81" height="50" rx="2" ry="2"/>
        <rect x="89" y="0" width="50" height="12" rx="2" ry="2"/>
        <path d="M169.000,27.000 L91.000,27.000 C89.895,27.000 89.000,26.105 89.000,25.000 C89.000,23.895 89.895,23.000 91.000,23.000 L169.000,23.000 C170.105,23.000 171.000,23.895 171.000,25.000 C171.000,26.105 170.105,27.000 169.000,27.000 ZM169.000,20.000 L91.000,20.000 C89.895,20.000 89.000,19.105 89.000,18.000 C89.000,16.895 89.895,16.000 91.000,16.000 L169.000,16.000 C170.105,16.000 171.000,16.895 171.000,18.000 C171.000,19.105 170.105,20.000 169.000,20.000 ZM91.000,30.000 L169.000,30.000 C170.105,30.000 171.000,30.895 171.000,32.000 C171.000,33.105 170.105,34.000 169.000,34.000 L91.000,34.000 C89.895,34.000 89.000,33.105 89.000,32.000 C89.000,30.895 89.895,30.000 91.000,30.000 ZM91.000,42.000 L120.000,42.000 C121.105,42.000 122.000,42.895 122.000,44.000 L122.000,48.000 C122.000,49.105 121.105,50.000 120.000,50.000 L91.000,50.000 C89.895,50.000 89.000,49.105 89.000,48.000 L89.000,44.000 C89.000,42.895 89.895,42.000 91.000,42.000 Z"/>
    </svg>
</div>
