<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 532 432" style="transform: translateY(200px);">
<defs>
    <style>.imac{fill:#ffffff;}
    </style>
    </defs>
    <title>Vector iMac</title>
    <path class="imac" d="M343.65,429.92h-155c-6.39-.25-8.83-2.06-8.83-2.06v1.69a6.92,6.92,0,0,0,4,2.06,30,30,0,0,0,4.84.39h155a30,30,0,0,0,4.84-.39,6.92,6.92,0,0,0,4-2.06v-1.69S350,429.67,343.65,429.92Z" transform="translate(-0.1)"/>
    <path class="imac" d="M350.75,425.34s-13.24-10.54-16.66-13.44c-6.45-4.86-7.42-21.24-7.42-21.24L324.34,371H208l-2.33,19.66s-1,16.38-7.42,21.24c-3.43,2.9-16.66,13.44-16.66,13.44s-2,1.55-1.7,2.51c0,0,2.44,1.81,8.83,2.06H343.62c6.39-.25,8.83-2.06,8.83-2.06C352.75,426.89,350.75,425.34,350.75,425.34Z" transform="translate(-0.1)"/>
    <path class="imac" d="M.1,318v38.75C.1,363.86,5.83,371,12.9,371H519.29c7.07,0,12.8-7.14,12.8-14.25V318Z" transform="translate(-0.1)"/>
    <path class="imac" d="M267.92,9.73a1.84,1.84,0,1,1-1.84-1.85,1.85,1.85,0,0,1,1.84,1.85" transform="translate(-0.1)"/>
    <path class="cls-3" d="M276,349.73a4.67,4.67,0,0,1-2-1.63A5.78,5.78,0,0,1,272.9,344a5.4,5.4,0,0,1,1.6-3.38c.35-.36.72-.69,1.09-1.05l-.44-.5a5.83,5.83,0,0,0-2.59-1.74,6.14,6.14,0,0,0-3.66,0l-2,.62a3,3,0,0,1-1.75,0l-1-.27a10.91,10.91,0,0,0-2.58-.53,4.9,4.9,0,0,0-3.41,1,7,7,0,0,0-2.37,3.66,11.81,11.81,0,0,0-.17,5.64,17.31,17.31,0,0,0,3.18,7,5.94,5.94,0,0,0,1.69,1.58,2.72,2.72,0,0,0,2.09.4,14.57,14.57,0,0,0,1.56-.51,5.64,5.64,0,0,1,2.1-.45,5.48,5.48,0,0,1,1.42.24l1.92.59a3.07,3.07,0,0,0,2.93-.63,6.7,6.7,0,0,0,.74-.68,14.9,14.9,0,0,0,2.74-4.43c.12-.28.21-.58.32-.87Z" transform="translate(-0.1)"/>
    <path class="cls-3" d="M267.29,337.23a4.19,4.19,0,0,0,1.6-1.16,6,6,0,0,0,1.71-4.08,4.79,4.79,0,0,0-.06-.59c-3.24.65-4.9,2.85-5,6.14.17,0,.34,0,.51-.05A8.37,8.37,0,0,0,267.29,337.23Z" transform="translate(-0.1)"/>
    <path class="imac" d="M519.29,0H12.9A12.82,12.82,0,0,0,.1,12.84V318h532V12.84A12.82,12.82,0,0,0,519.29,0Zm-7.2,302H20.1V24h492Z" transform="translate(-0.1)"/>
</svg>