// http://chir.ag/projects/name-that-color/

// Colors

// ------------------------------
// COLOURS
// ------------------------------
$black: #393F41;            // Hero background
$grey: #4D4D4D;             // Body text
$grey3: #727C81;            // Subheading text
$whiteGrey: #F1F1F2;        // Section background (alternative)
$white: #FBFBFB;            // Section background + Footer text colour


$acentColour: #FD5257;
// ------------------------------
// Semantic colour names
// ------------------------------
$backgroundHero: $black;
$backgroundFooter: $black;
$backgroundSection: $white;
$backgroundSectionAlt: $whiteGrey;
$bodyText: $grey;