// http://chir.ag/projects/name-that-color/

// ------------------------------
// COLOURS
// ------------------------------
$black: #2E3436;            // Hero background
$black-2: #393F41;          //
$grey: #4D4D4D;             // Body text
$grey3: #727C81;            // Subheading text
$whiteGrey: #F6F9FC;        // Section background (alternative)
$white: #FBFBFB;            // Footer text colour


// $acentColour: #FD5257;
$acentColour: #0089D2;
// ------------------------------
// Semantic colour names
// ------------------------------
$backgroundHero: $black;
$backgroundFooter: $black;
$backgroundSectionAlt: $whiteGrey;
$bodyText: $grey;
