@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,400i");
.god-mode {
  content: 'Type IDDQD';
  color: #bada55; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

html {
  height: auto;
  max-height: none;
  scroll-behavior: smooth; }

body {
  height: auto;
  max-height: none;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: always;
  text-rendering: optimizeLegibility; }

button::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
  padding: 0; }

textarea,
input[type='tel'] {
  -webkit-appearance: none; }

.grid-row:after, .content:after, .global-footer__wrapper:after, .list-grid:after {
  content: '';
  display: block;
  clear: both; }

.content, .global-footer__wrapper {
  max-width: 970px;
  margin: 0 25px; }
  @media (min-width: 890px) {
    .content, .global-footer__wrapper {
      margin: 0 50px; } }
  @media (min-width: 1070px) {
    .content, .global-footer__wrapper {
      margin: 0 auto; } }

.grid-row {
  margin: 0 -25px; }

.column-half {
  padding: 0 25px;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto; }
  @media (min-width: 890px) {
    .column-half {
      float: left;
      width: 50%; } }
  .column-half + .column-half {
    margin-top: 50px; }
    @media (min-width: 890px) {
      .column-half + .column-half {
        margin-top: 0; } }

.column-half--alt {
  padding: 0 25px;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto; }
  @media (min-width: 890px) {
    .column-half--alt {
      float: right;
      width: 50%; } }
  .column-half--alt + .column-half--alt {
    margin-top: 50px; }
    @media (min-width: 890px) {
      .column-half--alt + .column-half--alt {
        margin-top: 0; } }

.column-third {
  padding: 0 25px;
  box-sizing: border-box; }
  @media (min-width: 890px) {
    .column-third {
      float: left;
      width: 33.3333333333%; } }

.column-two-thirds {
  padding: 0 25px;
  box-sizing: border-box; }
  @media (min-width: 890px) {
    .column-two-thirds {
      float: left;
      width: 66.6666666667%; } }

.button-totop {
  display: none;
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  background-color: #393F41;
  transition: all 0.1s ease-out 0s; }
  .hasCSSScroll .button-totop {
    display: block; }
  .button-totop:hover {
    background-color: #FD5257;
    margin-top: -5px;
    margin-left: -25px;
    padding: 10px; }
  .button-totop svg {
    display: block;
    height: 30px;
    width: 30px;
    fill: #FBFBFB; }

.global-footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #393F41;
  color: #727C81;
  font-size: 12px;
  line-height: 20px; }

.global-footer__social {
  padding: 0 25px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 25px; }
  @media (min-width: 890px) {
    .global-footer__social {
      float: right;
      width: 50%; } }
  @media (min-width: 890px) {
    .global-footer__social {
      text-align: right;
      margin-bottom: 0; } }
  .global-footer__social a {
    border: 1px solid #727C81;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    padding: 7px;
    width: 36px; }
    .global-footer__social a:hover svg {
      fill: #FD5257; }
    .global-footer__social a svg {
      display: block;
      height: 20px;
      width: 20px;
      fill: #727C81; }
  .global-footer__social a + a {
    margin-left: 25px; }

.global-footer__copyright {
  padding: 0 25px;
  box-sizing: border-box; }
  @media (min-width: 890px) {
    .global-footer__copyright {
      float: left;
      width: 50%; } }

.illustration {
  display: block;
  margin: 0 auto;
  max-width: 370px;
  width: 100%; }

.list-grid li {
  width: 50%;
  float: left; }
  @media (max-width: 640px) {
    .list-grid li {
      width: 100%;
      display: block; } }
  @media (min-width: 769px) {
    .list-grid li {
      width: 33.333%; } }
  .list-grid li img {
    margin-top: 25px; }

.section {
  position: relative;
  background-color: #FBFBFB;
  padding: 75px 0; }
  @media (min-width: 890px) {
    .section {
      padding: 125px 0; } }

.hero {
  position: relative;
  background-color: #393F41;
  overflow: hidden;
  color: #FBFBFB;
  padding: 75px 0; }
  @media (min-width: 890px) {
    .hero {
      padding: 175px 0; } }
  .hero .grid-row {
    z-index: 1;
    position: relative; }
  .hero span {
    color: #FD5257; }

.callout {
  background-color: #FD5257; }

.section:nth-child(even) {
  background-color: #F1F1F2; }

body {
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px; }

em {
  font-style: italic; }

p {
  margin-bottom: 25px; }
  p:last-of-type {
    margin-bottom: 0; }

.is-serif {
  font-family: 'PT Serif', serif; }

.heading--xl {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  color: #F1F1F2;
  letter-spacing: -2.73px; }

.sub-heading {
  font-family: 'PT Serif', serif;
  font-style: italic;
  display: block;
  color: #727C81;
  font-size: 19px;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: 0; }

.heading--l {
  color: #FBFBFB;
  font-family: "PT Serif", serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -1px;
  padding: 50px 0;
  text-align: center; }

.heading {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1em;
  padding-bottom: 3px;
  letter-spacing: -1px;
  margin-bottom: 25px; }

.anim {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.anim-hidden {
  opacity: 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.anim-fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.anim-fade-in-up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.anim-zoom-in {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.container {
  height: 34px;
  width: 34px;
  position: absolute;
  bottom: 0;
  transform: translate3d(0px, 100%, 0); }

.icon {
  height: 34px;
  width: 34px;
  transform: translate3d(0px, 100%, 0); }

.anim-paused .container,
.anim-paused .icon {
  animation-play-state: paused; }

@keyframes animateY {
  0% {
    transform: translateY(100%);
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    transform: translateY(-500px);
    opacity: 0; } }

@keyframes animateX {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(50px); } }

.a1 {
  animation: animateY 35s ease-out infinite;
  animation-delay: 4s;
  left: 0%; }
  .a1 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 4s; }

.a2 {
  animation: animateY 40s ease-out infinite;
  animation-delay: 20s;
  left: 5%; }
  .a2 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 20s; }

.a3 {
  animation: animateY 38s ease-out infinite;
  animation-delay: 10s;
  left: 10%; }
  .a3 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 10s; }

.a4 {
  animation: animateY 32s ease-out infinite;
  animation-delay: 5s;
  left: 20%; }
  .a4 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 5s; }

.a5 {
  animation: animateY 39s ease-out infinite;
  animation-delay: 18s;
  left: 30%; }
  .a5 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 18s; }

.a6 {
  animation: animateY 31s ease-out infinite;
  animation-delay: 20s;
  left: 40%; }
  .a6 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 20s; }

.a7 {
  animation: animateY 30s ease-out infinite;
  animation-delay: 0s;
  left: 45%; }
  .a7 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 0s; }

.a8 {
  animation: animateY 32s ease-out infinite;
  animation-delay: 6s;
  left: 60%; }
  .a8 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 6s; }

.a9 {
  animation: animateY 41s ease-out infinite;
  animation-delay: 8s;
  left: 70%; }
  .a9 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 8s; }

.a10 {
  animation: animateY 36s ease-out infinite;
  animation-delay: 10s;
  left: 95%; }
  .a10 .icon {
    animation: animateX 6s ease-in-out infinite alternate;
    animation-delay: 10s; }

.gesture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  box-sizing: border-box; }

.gesture--touch {
  transform: scale3d(1, 1, 1);
  border: 1px solid #2f7bbd;
  animation: touch-halo .4s ease-out both;
  animation-play-state: inherit;
  animation-delay: inherit; }
  .gesture--touch:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -1px;
    left: -1px;
    background-color: #2f7bbd;
    animation: touch-point .4s ease-out both;
    animation-play-state: inherit;
    animation-delay: inherit; }

@keyframes touch-halo {
  0% {
    transform: scale3d(0.4, 0.4, 1);
    opacity: 0; }
  1% {
    opacity: 1; }
  40% {
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes touch-point {
  40% {
    transform: scale3d(1, 1, 1); }
  100% {
    transform: scale3d(0.4, 0.4, 1); } }

.gesture--swipe {
  transform: scale3d(1, 1, 1);
  background-color: #2f7bbd;
  animation: swipe .4s ease-out; }

@keyframes swipe {
  0% {
    transform: scale3d(0.4, 0.4, 1);
    opacity: 1; }
  40% {
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform: translate3d(0, -400%, 0);
    width: 24px;
    opacity: 0; } }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@media (min-width: 890px) {
  .u-hide-tablet-up {
    display: none; } }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.u-ma--3 {
  margin: -75px; }

.u-mt--3 {
  margin-top: -75px; }

.u-mr--3 {
  margin-right: -75px; }

.u-mb--3 {
  margin-bottom: -75px; }

.u-ml--3 {
  margin-left: -75px; }

.u-mx--3 {
  margin-right: -75px;
  margin-left: -75px; }

.u-my--3 {
  margin-top: -75px;
  margin-bottom: -75px; }

.u-ma--2 {
  margin: -50px; }

.u-mt--2 {
  margin-top: -50px; }

.u-mr--2 {
  margin-right: -50px; }

.u-mb--2 {
  margin-bottom: -50px; }

.u-ml--2 {
  margin-left: -50px; }

.u-mx--2 {
  margin-right: -50px;
  margin-left: -50px; }

.u-my--2 {
  margin-top: -50px;
  margin-bottom: -50px; }

.u-ma--1 {
  margin: -25px; }

.u-mt--1 {
  margin-top: -25px; }

.u-mr--1 {
  margin-right: -25px; }

.u-mb--1 {
  margin-bottom: -25px; }

.u-ml--1 {
  margin-left: -25px; }

.u-mx--1 {
  margin-right: -25px;
  margin-left: -25px; }

.u-my--1 {
  margin-top: -25px;
  margin-bottom: -25px; }

.u-ma-0 {
  margin: 0px; }

.u-mt-0 {
  margin-top: 0px; }

.u-mr-0 {
  margin-right: 0px; }

.u-mb-0 {
  margin-bottom: 0px; }

.u-ml-0 {
  margin-left: 0px; }

.u-mx-0 {
  margin-right: 0px;
  margin-left: 0px; }

.u-my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.u-ma-1 {
  margin: 25px; }

.u-mt-1 {
  margin-top: 25px; }

.u-mr-1 {
  margin-right: 25px; }

.u-mb-1 {
  margin-bottom: 25px; }

.u-ml-1 {
  margin-left: 25px; }

.u-mx-1 {
  margin-right: 25px;
  margin-left: 25px; }

.u-my-1 {
  margin-top: 25px;
  margin-bottom: 25px; }

.u-ma-2 {
  margin: 50px; }

.u-mt-2 {
  margin-top: 50px; }

.u-mr-2 {
  margin-right: 50px; }

.u-mb-2 {
  margin-bottom: 50px; }

.u-ml-2 {
  margin-left: 50px; }

.u-mx-2 {
  margin-right: 50px;
  margin-left: 50px; }

.u-my-2 {
  margin-top: 50px;
  margin-bottom: 50px; }

.u-ma-3 {
  margin: 75px; }

.u-mt-3 {
  margin-top: 75px; }

.u-mr-3 {
  margin-right: 75px; }

.u-mb-3 {
  margin-bottom: 75px; }

.u-ml-3 {
  margin-left: 75px; }

.u-mx-3 {
  margin-right: 75px;
  margin-left: 75px; }

.u-my-3 {
  margin-top: 75px;
  margin-bottom: 75px; }
