.god-mode {
  content: 'Type IDDQD';
  color: #bada55; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

html {
  height: auto;
  max-height: none;
  scroll-behavior: smooth; }

body {
  height: auto;
  max-height: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: always;
  text-rendering: optimizeLegibility; }

button::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
  padding: 0; }

textarea,
input[type='tel'] {
  -webkit-appearance: none; }

.grid-row, .content, .global-footer__wrapper, .list-grid {
  zoom: 1; }
  .grid-row:after, .content:after, .global-footer__wrapper:after, .list-grid:after {
    content: '';
    display: block;
    clear: both; }

.content, .global-footer__wrapper {
  max-width: 925px;
  width: 925px;
  margin: 0 24px;
  margin: 0 48px;
  margin: 0 auto; }

.grid-row {
  margin: 0 -24px; }

.column-quarter {
  float: left;
  width: 25%;
  width: 195.25px;
  padding: 0 24px;
  box-sizing: border-box; }

.column-half {
  float: left;
  width: 50%;
  width: 438.5px;
  padding: 0 24px;
  box-sizing: border-box; }

.column-half--alt {
  float: right;
  width: 50%;
  width: 438.5px;
  padding: 0 24px;
  box-sizing: border-box; }

.column-third {
  float: left;
  width: 33.33333%;
  width: 276.33333px;
  padding: 0 24px;
  box-sizing: border-box; }

.column-two-thirds {
  float: left;
  width: 66.66667%;
  width: 600.66667px;
  padding: 0 24px;
  box-sizing: border-box; }

.button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  color: #2577ba;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  padding: 16px 48px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s linear 0s;
  width: auto; }

.button:link, .button:visited {
  color: #2577ba; }

.button:hover, .button:active {
  border-color: rgba(0, 0, 0, 0.14);
  color: #32425c; }

.button-small {
  font-size: 10px;
  padding-bottom: 7px;
  padding-top: 7px; }

.button-totop {
  display: none;
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  background-color: #2a94d6;
  transition: all 0.1s ease-out 0s; }
  .hasCSSScroll .button-totop {
    display: block; }
  .button-totop:hover {
    margin-top: -5px;
    margin-left: -25px;
    padding: 10px; }
  .button-totop svg {
    display: block;
    height: 30px;
    width: 30px;
    fill: #ffffff; }

.global-footer {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #000936;
  font-size: 12px; }

.global-footer__link--social {
  display: inline-block;
  margin-left: 12px; }
  .global-footer__link--social:hover svg {
    fill: #ffffff; }
  .global-footer__link--social svg {
    display: block;
    height: 30px;
    width: 30px;
    fill: #a1aebe; }

.image-callout {
  display: block;
  margin: 0 auto; }

.list-grid li {
  width: 50%;
  float: left;
  width: 33.333%;
  float: left; }
  .list-grid li img {
    margin-top: 12px;
    margin-top: 48px; }

.hero,
.section {
  background-color: white;
  padding: 48px 0;
  position: relative; }

.hero {
  background-color: #000936;
  color: white;
  background: transparent linear-gradient(to right bottom, #000936, #4b3958 50%, #894671) repeat scroll 0 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
  .hero img {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5)); }

.section:nth-child(odd) {
  background-color: #ebeff2; }

.table {
  width: 100%;
  display: border-box; }
  .table th {
    text-align: left;
    font-weight: 600;
    border-top: 1px dotted #9fa1a3;
    border-bottom: 1px dotted #9fa1a3;
    background-color: #f2f2f2;
    padding: 11px 15px; }
  .table td {
    border-bottom: 1px dotted #9fa1a3;
    background-color: #ffffff;
    padding: 12px 15px 11px; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format("woff"); }
body {
  color: #4d4d4d;
  font-family: "Open Sans","Helvetica Neue","Helvetica",sans-serif;
  font-size: 15px;
  line-height: 24px; }

strong {
  font-weight: 500; }

abbr {
  border-bottom: 1px dotted;
  cursor: help; }

em {
  font-style: italic; }

p {
  margin-bottom: 24px; }

code {
  color: #aa1111;
  font-family: monospace,monospace;
  line-height: 18px; }

small {
  font-weight: 300;
  opacity: 0.4; }

.heading--xl {
  font-size: 60px;
  line-height: 72px;
  padding-top: 8px;
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: -3px; }

.heading--l {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 48px;
  margin-bottom: 38px;
  padding-top: 10px; }

.heading--pttn {
  font-size: 30px;
  border-bottom: 1px solid #4d4d4d;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 47px;
  margin-bottom: 48px;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase; }

.heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 24px; }

.heading--small {
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: uppercase; }

.muted {
  color: #a1aebe; }

.lede {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px; }
  .lede:last-child {
    margin-bottom: 0; }

strong {
  font-weight: 600; }

a {
  transition: color .2s;
  color: #000936;
  font-weight: bold; }

a:link,
a:visited {
  color: #000936; }

a:hover {
  color: #2577ba; }

a:active {
  transition: color .3s;
  color: #007BE6; }

blockquote {
  text-align: center; }
  blockquote p {
    font-size: 40px;
    font-style: italic;
    letter-spacing: -1;
    line-height: 60px;
    margin-bottom: 12px; }
    blockquote p::before {
      content: "\""; }
    blockquote p::after {
      content: "\""; }
  blockquote cite {
    font-size: 20px;
    letter-spacing: -1px;
    display: block; }

.list {
  margin-bottom: 24px;
  list-style: disc outside none; }
  .list > li {
    margin-left: 15px;
    padding-left: 9px; }

.list--numeric {
  list-style: number outside none; }

.anim {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.anim-hidden {
  opacity: 0; }

.svg-font {
  display: inline-block;
  fill: #ce616e;
  height: 1em;
  left: 3px;
  position: relative;
  top: 3px; }

.svg-font2 {
  display: inline-block;
  fill: #ffffff;
  position: relative;
  height: 1em;
  stroke: #b94c59;
  stroke-width: 3px;
  stroke-dasharray: 165;
  stroke-dashoffset: 165;
  animation: dash 0.8s ease-out forwards; }

@keyframes dash {
  50% {
    stroke-dashoffset: 0; }

  100% {
    fill: #ce616e;
    stroke-dashoffset: 0; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.anim-fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.anim-fade-in-up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1); }

  14% {
    transform: scale(1.1); }

  28% {
    transform: scale(1); }

  42% {
    transform: scale(1.1); }

  70% {
    transform: scale(1); } }
@keyframes heartbeat {
  0% {
    transform: scale(1); }

  14% {
    transform: scale(1.1); }

  28% {
    transform: scale(1); }

  42% {
    transform: scale(1.1); }

  70% {
    transform: scale(1); } }
.anim-heartbeat {
  -webkit-animation-name: heartbeat;
  animation-name: heartbeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }
.anim-zoom-in {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.rings {
  position: absolute;
  left: 50px;
  top: 125px;
  width: 400px;
  height: 400px;
  margin: -150px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%; }
  .rings::after, .rings::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }
  .rings::before {
    width: 700px;
    height: 700px;
    margin: -150px; }
  .rings::after {
    width: 1000px;
    height: 1000px;
    margin: -300px; }

.rings2 {
  position: absolute;
  left: 50px;
  top: 125px;
  width: 1300px;
  height: 1300px;
  margin: -600px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%; }
  .rings2::after, .rings2::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }
  .rings2::before {
    width: 1600px;
    height: 1600px;
    margin: -150px; }
  .rings2::after {
    width: 1900px;
    height: 1900px;
    margin: -300px; }

.moon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #4b3958;
  position: absolute;
  left: 50px;
  top: 125px;
  text-align: center;
  line-height: 100px; }

.moon1 {
  animation: orbit1 90s linear reverse infinite; }

.moon1-R {
  animation: orbit1REVERSE 90s linear reverse infinite; }

.moon2 {
  animation: orbit2 99s linear infinite; }

.moon3 {
  animation: orbit3 120s linear infinite; }

.moon4 {
  animation: orbit4 120s linear reverse infinite; }

.moon5 {
  animation: orbit5 120s linear reverse infinite; }

@keyframes orbit1 {
  from {
    transform: rotate(0deg) translate3d(200px, 0, 0) rotate(0deg); }

  to {
    transform: rotate(360deg) translate3d(200px, 0, 0) rotate(-360deg); } }
@keyframes orbit1REVERSE {
  from {
    transform: rotate(0deg) translate3d(-200px, 0, 0) rotate(0deg); }

  to {
    transform: rotate(360deg) translate3d(-200px, 0, 0) rotate(-360deg); } }
@keyframes orbit2 {
  from {
    transform: rotate(0deg) translate3d(0, 350px, 0) rotate(0deg); }

  to {
    transform: rotate(360deg) translate3d(0, 350px, 0) rotate(-360deg); } }
@keyframes orbit3 {
  from {
    transform: rotate(0deg) translate3d(500px, 0, 0) rotate(0deg); }

  to {
    transform: rotate(360deg) translate3d(500px, 0, 0) rotate(-360deg); } }
@keyframes orbit4 {
  from {
    transform: rotate(0deg) translate3d(650px, 0, 0) rotate(0deg); }

  to {
    transform: rotate(360deg) translate3d(650px, 0, 0) rotate(-360deg); } }
@keyframes orbit5 {
  from {
    transform: rotate(0deg) translate3d(460px, 460px, 0) rotate(0deg); }

  to {
    transform: rotate(360deg) translate3d(460px, 460px, 0) rotate(-360deg); } }
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.u-hide-tablet-up {
  display: none; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.u-ma--3 {
  margin: -72px; }

.u-mt--3 {
  margin-top: -72px; }

.u-mr--3 {
  margin-right: -72px; }

.u-mb--3 {
  margin-bottom: -72px; }

.u-ml--3 {
  margin-left: -72px; }

.u-mx--3 {
  margin-right: -72px;
  margin-left: -72px; }

.u-my--3 {
  margin-top: -72px;
  margin-bottom: -72px; }

.u-ma--2 {
  margin: -48px; }

.u-mt--2 {
  margin-top: -48px; }

.u-mr--2 {
  margin-right: -48px; }

.u-mb--2 {
  margin-bottom: -48px; }

.u-ml--2 {
  margin-left: -48px; }

.u-mx--2 {
  margin-right: -48px;
  margin-left: -48px; }

.u-my--2 {
  margin-top: -48px;
  margin-bottom: -48px; }

.u-ma--1 {
  margin: -24px; }

.u-mt--1 {
  margin-top: -24px; }

.u-mr--1 {
  margin-right: -24px; }

.u-mb--1 {
  margin-bottom: -24px; }

.u-ml--1 {
  margin-left: -24px; }

.u-mx--1 {
  margin-right: -24px;
  margin-left: -24px; }

.u-my--1 {
  margin-top: -24px;
  margin-bottom: -24px; }

.u-ma-0 {
  margin: 0px; }

.u-mt-0 {
  margin-top: 0px; }

.u-mr-0 {
  margin-right: 0px; }

.u-mb-0 {
  margin-bottom: 0px; }

.u-ml-0 {
  margin-left: 0px; }

.u-mx-0 {
  margin-right: 0px;
  margin-left: 0px; }

.u-my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.u-ma-1 {
  margin: 24px; }

.u-mt-1 {
  margin-top: 24px; }

.u-mr-1 {
  margin-right: 24px; }

.u-mb-1 {
  margin-bottom: 24px; }

.u-ml-1 {
  margin-left: 24px; }

.u-mx-1 {
  margin-right: 24px;
  margin-left: 24px; }

.u-my-1 {
  margin-top: 24px;
  margin-bottom: 24px; }

.u-ma-2 {
  margin: 48px; }

.u-mt-2 {
  margin-top: 48px; }

.u-mr-2 {
  margin-right: 48px; }

.u-mb-2 {
  margin-bottom: 48px; }

.u-ml-2 {
  margin-left: 48px; }

.u-mx-2 {
  margin-right: 48px;
  margin-left: 48px; }

.u-my-2 {
  margin-top: 48px;
  margin-bottom: 48px; }

.u-ma-3 {
  margin: 72px; }

.u-mt-3 {
  margin-top: 72px; }

.u-mr-3 {
  margin-right: 72px; }

.u-mb-3 {
  margin-bottom: 72px; }

.u-ml-3 {
  margin-left: 72px; }

.u-mx-3 {
  margin-right: 72px;
  margin-left: 72px; }

.u-my-3 {
  margin-top: 72px;
  margin-bottom: 72px; }
