@import 'partials/config';
@import 'partials/colours';
@import 'partials/conditionals';

// No CSS Rendered above this line
.god-mode { 
    content: 'Type IDDQD';
}

@import 'vendor/meyer-reset';
@import 'partials/base';
@import 'partials/typography';
@import 'partials/grid_layout';
@import 'partials/images';
// @import 'partials/global_header';
@import 'partials/global_footer';
@import 'partials/process_section';
@import 'partials/buttons';
@import 'partials/tables';
@import 'partials/list-grid';
@import 'partials/helpers';

@import 'partials/person';
// SVG styling
@import 'svg/promarker';
@import 'svg/drink';
// Animations
@import 'animation/bounce_in_down';


// Content
.content {
    @extend %site-width-container;
    @extend %contain-floats;
}

$plannedFailure;

// Grid layout
.grid-row {
    @extend %grid-row;
}

.column-quarter {
    @include grid-column(1/4);
}

.column-half {
    @include grid-column(1/2);
}

.column-half--alt {
    @include grid-column(1/2, tablet, right);
}

.column-third {
    @include grid-column(1/3);
}

.column-two-thirds {
    @include grid-column(2/3);
}

// TODO MOVE this somewhere better
.svg-font {
    animation: heartbeat 1300ms ease 0s infinite normal;
    display: inline-block;
    fill: #ce616e;
    height: 1em;
    left: 3px;
    opacity: 0.8;
    position: relative;
    top: 3px;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    14% {
        transform: scale(1.1);
        opacity: 1;
    }
    28% {
        transform: scale(1);
        opacity: 0.8;
    }
    42% {
        transform: scale(1.1);
        opacity: 1;
    }
    70% {
        transform: scale(1);
        opacity: 0.8;
    }
}