@import 'partials/config';
@import 'partials/colours';
@import 'partials/conditionals';

// No CSS Rendered above this line
.god-mode { 
    content: 'Type IDDQD';
}

@import 'vendor/meyer-reset';
@import 'partials/base';
@import 'partials/typography';
@import 'partials/grid_layout';
@import 'partials/images';
// @import 'partials/global_header';
// @import 'partials/global_footer';
@import 'partials/process_section';
@import 'partials/buttons';
@import 'partials/tables';
@import 'partials/helpers';

@import 'partials/person';
// SVG styling
@import 'svg/promarker';
@import 'svg/drink';
// Animations
@import 'animation/bounce_in_down';


// Content
.content {
    @extend %site-width-container;
    @extend %contain-floats;
}

// Grid layout
.grid-row {
    @extend %grid-row;

    + .grid-row {
        margin-top: $base-line * 2;
    }
}

.column-quarter {
    @include grid-column(1/4);
}

.column-half {
    @include grid-column(1/2);
}

.column-half--alt {
    @include grid-column(1/2, tablet, right);
}

.column-third {
    @include grid-column(1/3);
}

.column-two-thirds {
    @include grid-column(2/3);
}
