<main id="content" role="main">
    <section class="process-section--hello">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h1 class="heading--xl">Hi, I'm Tom</h1>
                    <p class="lede">I'm a <strong>User Experience</strong> designer and <strong>Front-End</strong> specialist based in Brizzle, England.</p>
                    <p>I'm an empathetic, intuitive thinker who likes to tell stories and solve problems in imaginative and creative ways.</p>
                    <p>...I'm also a dad, geek, foodie, photographer and recovering engineer :-(</p>
                    <p class="heading--s">This is my process..</p>
                </div>
                <div class="column-half">
                    {{> svg_drink }}
                    {{> svg_promarker color="red" }}
                    {{> svg_promarker color="pink" }}
                </div>
            </div>
        </div>
    </section>

    <section class="process-section--discovery">
        <div class="content">
            <h2 class="heading--l">I discover, to define the problem</h2>
            <div class="grid-row">
                <div class="column-half">
                    <p class="lede">Through a process of interviews, observation and analysis I understand business goals, review the competitor landscape, and discover (not just validate) the user needs.</p>
                    <p>This enables me to craft personas, task flows, heuristic/cognative reviews, user stories, and the overarching information architecture.</p>
                    <p>Creatively documenting insight helps illustrate research outcomes, simplifies complex problems and promotes intuitve solutions.</p>
                    {{!-- <p>I constantly use personas during a project to guide design decisions, product priorities, and encourage empathy throughout the team.</p> --}}
                    <p class="heading--s">Once I understand the problem...</p>
                </div>
                <div class="column-half"></div>
            </div>
        </div>
    </section>

    <section class="process-section--design">
        <div class="content">
            <h2 class="heading--l">I design with paper</h2>
            <div class="grid-row">
                <div class="column-half">
                    <p class="lede">I'll sit down with my Moleskine and Promarkers to sketch interactions and flows, taking into account heuristics, context of use and user needs.</p>
                    <p>Low fidelity allows me the creative freedom to iterate quickly without becoming attached to a specific solution or distracted by technical solutions.</p>
                    <p>Formative user testing to gain valuable insight and ensure the design meets the user need.</p>
                    <p>Once I have choosen a solution I may increase the visual quality using Photoshop, Illustrator or UXPin.</p>
                    <p class="heading--s">Once I understand the solution...</p>
                </div>
                <div class="column-half"></div>
            </div>
        </div>
    </section>

    <section class="process-section--prototype">
        <div class="content">
            <h2 class="heading--l">I prototype with code</h2>
            <div class="grid-row">
                <div class="column-half">
                    <p class="lede">I 'sketch' in code to create interactive and responsive prototypes.</p>
                    <p>Using code helps me appreciate the technical considerations of a design: responsive flow, document hierarchy, performance, progressive enhancement, usability and accessability. </p>
                    <p>By combining logic-less JS templating with dummy data I can quickly test an interface against edge cases and transient or empty states. </p>
                    <p class="heading--s">Once a prototype has been deployed...</p>
                    {{!-- <p>I test the prototypes with users and stakeholders to find out what works, and what needs to change and I iterate this process until it's time to finalise the design interaction.</p> --}}
                    {{!-- 
                    <p>In this stage of a project, I work as a translator who speaks the different languages of developers, engineers, business stakeholders and end users to ensure that everyone understands each other. It is really important to be able to work productively within a team environment, to make certain that we all understand WHY we are doing what we do.</p>
                    <p>I work hard to build trust and forge lasting relationships with implementation and engineering teams, without them, my best ideas amount to nothing.</p>
                     --}}
                </div>
                <div class="column-half"></div>
            </div>
        </div>
    </section>

    <section class="process-section--test">
        <div class="content">
            <h2 class="heading--l">I test with users</h2>
            <div class="grid-row">
                <div class="column-half">
                    <p class="lede">Ideally, prototypes are tested with real users in real situations. However, I'm partial to lab or guerrilla testing when deadlines are tight. User testing validates design decisions, evaluates usability, and uncovers any subtleties not exposed during 'discovery'. </p>
                    <p>Prototypes have a primary purpose; is my understanding and design thinking right or wrong?</p>
                    <p class="heading--s">Once the solution has been verified...</p>
                </div>
                <div class="column-half"></div>
            </div>
        </div>
    </section>

    <section class="process-section--develop">
        <div class="content">
            <h2 class="heading--l">
                I develop with 
                <style>
                .svg-font {
                    display: inline-block;
                    height: 1em;
                    fill: white;
                    opacity: 0.8;
                    transform: scale(.8);
                }
                </style>
                <svg viewBox="0 0 30 30" class="svg-font"><use xlink:href="#icon-love"></use></svg>
            </h2>
            <div class="grid-row">
                <div class="column-half">
                    <p class="lede">OK, so I'm verging on obsessive about tooling, CSS architecture, semantics, atomic commits and pattern libraries.</p>
                    <p>I document the design patterns in a pattern library. </p>
                    <p>I have 15 years experience working in teams of all sizes from supporting 4 scrum teams developing a single product to a team of 4 developing 18 e-commerce sites. No matter the environment one aspect of my workflow has remained consistent - The use of Pattern Libraries and Pattern Lead development.</p>
                    <p>AA accessability compliant, mobile first, mustard cutting, progressively enhanced awsomeness.</p>
                </div>
                <div class="column-half"></div>
            </div>
        </div>
    </section>
</main>
