<main id="content">
    <section class="hero" id="hero">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h1 class="heading--xl">More than <br>just pixels<span>.</span></h1>
                </div>
                <div class="column-half">
                    <p class="lede u-mt-1">Welcome to the digital home of Tom Carrington, <br>a Bristol-based UX designer and recovering web developer &mdash; 3,751 days sober.</em></p>
                </div>
            </div>
            <div class="container a1"><div class="icon"></div></div>
            <div class="container a2"><div class="icon"></div></div>
            <div class="container a3"><div class="icon"></div></div>
            <div class="container a4"><div class="icon"></div></div>
            <div class="container a5"><div class="icon"></div></div>
            <div class="container a6"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-post"></use></svg></div>
            <div class="container a7"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-desktop"></use></svg></div>
            <div class="container a8"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-message"></use></svg></div>
            <div class="container a9"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-telephone"></use></svg></div>
            <div class="container a10"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-mobile"></use></svg></div>
        </div>
    </section>
    <section class="callout" id="callout">
        <div class="content">
            <p class="heading--l">Maker of digital products for humans, and twice maker of actual humans</p>
        </div>
    </section>
    <section class="section" id="discover">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                <h2 class="heading--subtle">Research</h2>
                <p class="heading">I discover, to define the problem</p>
<p>I use a process of thoughtful questioning, perceptive observation, and diligent research to understand business goals, uncover user needs, and expose opportunities.</p>
<p>I gather insight by conducting interviews, reviewing usability, analysing competitors, and studying user behaviour.</p>
<p>Insight enables me to empathise with perspectives and embrace constraints so I can focus on high value problems that cause real pain.</p>
                </div>
                <div class="column-half"></div></div>
            </div>
        </div>
    </section>

    <section class="section anim-paused" id="design">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h2 class="heading--subtle">Design</h2>
                    <p class="heading">I design with paper &amp; people</p>
                    <p>I'll sit down with my Moleskine, pens, and and Promarkers to sketch interactions and flows, taking into account heuristics, context of use and user needs.</p>
                    <p>Low fidelity allows me the creative freedom to iterate quickly without becoming attached to solutions or distracted by digital tools.</p>
                </div>
                <div class="column-half--alt design-illustration">
                  <div class="illustration design-illustration__tea">
                      <img src="images/svg/illustration/design-drink-swirl.svg" class="llustration design-illustration__swirl" />
                      <img src="images/svg/illustration/design-tea.svg" />
                  </div>
                  <div class="illustration design-illustration__coffee">
                      <img src="images/svg/illustration/design-drink-swirl.svg" class="llustration design-illustration__swirl" />
                      <img src="images/svg/illustration/design-coffee.svg" />
                  </div>
                  <img src="images/svg/illustration/design-sharpie-red.svg" class="illustration design-illustration__red-sharpie design-illustration__red-sharpie--2" />
                  <img src="images/svg/illustration/design-sharpie-red.svg" class="illustration design-illustration__red-sharpie" />
                  <img src="images/svg/illustration/design-sharpie-black.svg" class="illustration design-illustration__black-sharpie" />
                  <img src="images/svg/illustration/design-notebook.svg" class="illustration design-illustration__notebook" />
                  <img src="images/svg/illustration/design-doughnuts.svg" class="illustration design-illustration__doughnuts" />
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="prototype">
        <div class="content">
            <div class="grid-row">
                <div class="column-half prototype-content">
                    <h2 class="heading--subtle">Prototyping</h2>
                    <p class="heading">I prototype with code</p>
                    <p>I sketch in code to create realistic, responsive, and interactive prototypes.</p>
                    <p>Using code enables me to focus on the technical considerations of a design: responsive flow, document hierarchy, performance, progressive enhancement, usability, and accessability. </p>
                    <p>By combining logic-less JS templating with dummy data I can quickly test an interface against edge cases and transient or empty states. </p>
                </div>
                <div class="column-half prototype-illustration">
                  <img src="images/svg/illustration/prototype-phone.svg" class="illustration prototype-illustration__phone" />
                  <div class="illustration prototype-illustration__browser"><div></div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="test">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h2 class="heading--subtle">Usability testing</h2>
                    <p class="heading">I test with users</p>
                    <p>Ideally, prototypes are tested with real users in real situations. However, I'm partial to guerrilla testing when deadlines are tight. Testing validates design decisions, evaluates usability, and uncovers subtleties not exposed during discovery. </p>
                    <p>Prototypes have a primary purpose; is my understanding and design thinking right or wrong?</p>
                </div>
                <div class="column-half--alt test-illustration">
                  <img src="images/svg/illustration/test-iphone.svg" class="illustration test-illustration__phone" />
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="develop">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h2 class="heading--subtle">Development</h2>
                    <p class="heading">I develop with
<svg style="top: 5px; position: relative;" class="anim-heartbeat" width="28px" height="27px" viewBox="0 0 28 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-Copy" transform="translate(-351.000000, -2617.000000)" stroke="#BD3B3F" fill="#FD5257">
            <path d="M363.18,2642.02174 C356.42,2635.52174 352,2631.1413 352,2625.77174 C352,2621.3913 355.12,2618 359.15,2618 C361.36,2618 363.57,2619.13043 365,2620.96739 C366.43,2619.13043 368.64,2618 370.85,2618 C374.88,2618 378,2621.3913 378,2625.77174 C378,2631.1413 373.58,2635.52174 366.82,2642.02174 L365,2644 L363.18,2642.02174 Z" id="Shape"></path>
        </g>
    </g>
</svg></p>
                    <p>I'm borderline obsessive about tooling, CSS architecture, semantics, accessability, and design systems.</p>
                    <p>I have over 15 years' experience collaborating with teams of all sizes. No matter the environment one aspect of my workflow has remained consistent - The use of pattern-led development.</p>
                    <p>Accessible, mobile first, mustard cutting, progressively enhanced awsomeness.</p>
                </div>
                <div class="column-half develop-illustration">
                    <img src="images/svg/background/desk.svg" class="illustration develop-illustration__desk"/>
                    <img src="images/svg/illustration/develop.svg" class="illustration develop-illustration_mac"/>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="data">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h2 class="heading--subtle">Continuous improvement and measurement</h2>
                    <p class="heading">I continue to learn when it's live</p>
                    <p>By establishing, and benchmarking, metrics upfront we can measure success by tracking how users engage across physical and digital environments.</p>
                    <p>Combining big data and thick (qualitative) data allows us to understand both the ‘what’ and ‘why’ of user behaviour.</p>
                </div>
                <div class="column-half--alt">
                  <img src="images/svg/illustration/data.svg" class="illustration u-mt-1" />
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content u-text-center u-my--2">
            <h2 id="brands" class="heading anim anim-hidden">I've had the pleasure to work with</h2>
            <ul id="brandList" class="list-grid u-mt-1 anim anim-hidden">
                <li><img src="/images/svg/client-american-express.svg" height="48" class="image-callout" alt="American express"></li>
                <li><img src="/images/svg/client-gov.uk.svg" height="48" class="image-callout" alt="GOV.uk"></li>
                <li><img src="/images/svg/client-johnlewis.svg" height="48" class="image-callout" alt="John Lewis"></li>
                <li><img src="/images/svg/client-lexus.svg" height="48" class="image-callout" alt="Lexus"></li>
                <li><img src="/images/svg/client-manchester-united.svg" height="48" class="image-callout" alt="Manchester United"></li>
                <li><img src="/images/svg/client-tesco.svg" height="48" class="image-callout" alt="Tesco"></li>
                <li><img src="/images/svg/client-toyota.svg" height="48" class="image-callout" alt="Toyota"></li>
                <li><img src="/images/svg/client-vauxhall.svg" height="48" class="image-callout" alt="Vauxhall"></li>
                <li><img src="/images/svg/client-volkswagen.svg" height="48" class="image-callout" alt="Volkswgen"></li>
            </ul>
        </div>
    </section>
</main>

<style>
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
