<main id="content">
    <section class="hero">
        <div class="content">
                <h1 class="heading--xl">More than just pixels</h1>
            <div class="grid-row">
                <div class="column-half">
                    <p class="lede">Hi I'm Tom a User Experience designer and Front-End specialist based in Brizzle, England.</p>
                    <p>I'm a compassionate, intuitive thinker who likes to tell stories and solve problems in imaginative and creative ways.</p>
                    <p>I'm also a recovering software engineer &mdash; 3 years sober.</p>
                    <h2 class="lede u-mt-2 ">Here's my process&hellip;</h2>
                </div>
                <div class="column-half">
{{!--                     
                    {{> svg_drink }}
                    {{> svg_promarker color="red" }}
                    {{> svg_promarker color="pink" }}
 --}}
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                <h3 class="heading--l u-text-center">I discover, to define the problem</h3>
<p class="lede">I use a process of thoughtful questioning, perceptive observation, and diligent research to understand business goals, uncover user needs, and expose opportunities.</p>
<p>I gather insight by conducting interviews, reviewing usability, analysing competitors, and studying user behaviour.</p>
<p>Insight enables me to empathise with perspectives and embrace constraints so I can focus on high value problems that cause real pain.</p>
                    {{!-- 
                    <p>This enables me to craft personas, task flows, heuristic/cognative reviews, user stories, and the overarching information architecture.</p>
                    <p>Creatively documenting insight helps illustrate research outcomes, simplifies complex problems, and promotes intuitve solutions.</p> --}}
                    {{!-- <p>I constantly use personas during a project to guide design decisions, product priorities, and encourage empathy throughout the team.</p> --}}
                    <p class="lede u-mt-2 ">Once I understand the problem&hellip;</p>
                </div>
                <div class="column-half--alt"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h3 class="heading--l u-text-center">I design with paper</h3>
                    <p class="lede">I'll sit down with my Moleskine, pens, and and Promarkers to sketch interactions and flows, taking into account heuristics, context of use and user needs.</p>
                    <p>Low fidelity allows me the creative freedom to iterate quickly without becoming attached to solutions or distracted by digital tools.</p>
                    {{!-- <p>Formative user testing to gain valuable insight and ensure the design meets the user need.</p> --}}
                    <p>Once I have choosen a solution I may increase the visual quality using Photoshop, Omnigraffle or UXPin.</p>
                    <p class="lede u-mt-2 ">Once I conceive a solution&hellip; </p>
                </div>
                <div class="column-half"><img src="/images/tools.png" class="image-callout" alt=""></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h3 class="heading--l u-text-center">I prototype with code</h3>
                    <p class="lede">I sketch in code to create realistic, responsive, and interactive prototypes.</p>
                    <p>Using code enables me to focus on the technical considerations of a design: responsive flow, document hierarchy, performance, progressive enhancement, usability, and accessability. </p>
                    <p>By combining logic-less JS templating with dummy data I can quickly test an interface against edge cases and transient or empty states. </p>
                    <p class="lede u-mt-2 ">Once a prototype is ready&hellip;</p>
                    {{!-- <p>I test the prototypes with users and stakeholders to find out what works, and what needs to change and I iterate this process until it's time to finalise the design interaction.</p> --}}
                    {{!-- 
                    <p>In this stage of a project, I work as a translator who speaks the different languages of developers, engineers, business stakeholders and end users to ensure that everyone understands each other. It is really important to be able to work productively within a team environment, to make certain that we all understand WHY we are doing what we do.</p>
                    <p>I work hard to build trust and forge lasting relationships with implementation and engineering teams, without them, my best ideas amount to nothing.</p>
                     --}}
                </div>
                <div class="column-half--alt"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h3 class="heading--l u-text-center">I test with users</h3>
                    <p class="lede">Ideally, prototypes are tested with real users in real situations. However, I'm partial to guerrilla testing when deadlines are tight. Testing validates design decisions, evaluates usability, and uncovers subtleties not exposed during discovery. </p>
                    <p>Prototypes have a primary purpose; is my understanding and design thinking right or wrong?</p>
                    <p class="lede u-mt-2 ">Once I verify the thinking&hellip;</p>
                </div>
                <div class="column-half"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h3 class="heading--l u-text-center">
                        I develop with 
                        <svg viewBox="0 0 30 30" class="svg-font"><use xlink:href="#icon-love"></use></svg>
                    </h3>
                    <p class="lede">I'm borderline obsessive about tooling, CSS architecture, semantics, accessability, and design systems.</p>
                    <p>I have over 15 years' experience collaborating with teams of all sizes. No matter the environment one aspect of my workflow has remained consistent - The use of pattern-led development.</p>
                    <p>Accessabile, mobile first, mustard cutting, progressively enhanced awsomeness.</p>
                </div>
                <div class="column-half--alt"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h3 class="heading--l u-text-center">I continue to learn when it's live</h3>
                    <p class="lede">Data is a user experience designer’s best friend.</p>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="column-half--alt"></div>
            </div>
        </div>
    </section>
    
    {{> brands }}
</main>