<style>
    .placeholder {
        color:# f1f1f1;
        border: 1px solid #ccc;
        max-width: 370px;
        height: 200px;

        margin:0 auto;
    }
</style>
<main id="content">
    <section class="hero" id="hero">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h1 class="heading--xl">More than <br>just pixels<span>.</span></h1>
                    <p class="sub-heading u-mt--1">Designing for humans, not users.</p>
                </div>
                <div class="column-half is-serif">
                    <p class="u-mt-1">Hi I'm Tom, a compassionate, intuitive thinker who likes to tell stories and solve problems in imaginative and creative ways.</p>
                    <p>UX designer and recovering software engineer &mdash; 3 years sober.</em></p>
                </div>
            </div>
            <div class="container a1"><div class="icon"></div></div>
            <div class="container a2"><div class="icon"></div></div>
            <div class="container a3"><div class="icon"></div></div>
            <div class="container a4"><div class="icon"></div></div>
            <div class="container a5"><div class="icon"></div></div>
            <div class="container a6"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-post"></use></svg></div>
            <div class="container a7"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-desktop"></use></svg></div>
            <div class="container a8"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-message"></use></svg></div>
            <div class="container a9"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-telephone"></use></svg></div>
            <div class="container a10"><svg class="icon" viewBox="0 0 30 30"><use xlink:href="#icon-mobile"></use></svg></div>
        </div>
    </section>
    <section class="callout" id="callout">
        <div class="content">
            <p class="heading--l">I research, design, prototype, test, build and measure</p>
        </div>
    </section>
    <section class="section" id="discover">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                <h3 class="heading--subtle">Research</h3>
                <p class="heading">I discover, to define the problem</p>
<p>I use a process of thoughtful questioning, perceptive observation, and diligent research to understand business goals, uncover user needs, and expose opportunities.</p>
<p>I gather insight by conducting interviews, reviewing usability, analysing competitors, and studying user behaviour.</p>
<p>Insight enables me to empathise with perspectives and embrace constraints so I can focus on high value problems that cause real pain.</p>
                </div>
                <div class="column-half"><div class="placeholder"></div></div>
            </div>
        </div>
    </section>

    <section class="section" id="design">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h3 class="heading--subtle">Design</h3>
                    <p class="heading">I design with paper &amp; people</p>
                    <p>I'll sit down with my Moleskine, pens, and and Promarkers to sketch interactions and flows, taking into account heuristics, context of use and user needs.</p>
                    <p>Low fidelity allows me the creative freedom to iterate quickly without becoming attached to solutions or distracted by digital tools.</p>
                </div>
                <div class="column-half--alt"><img src="images/svg/illustration/design.svg" class="illustration" /></div>
            </div>
        </div>
    </section>

    <section class="section" id="prototype">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h3 class="heading--subtle">Prototyping</h3>
                    <p class="heading">I prototype with code</p>
                    <p>I sketch in code to create realistic, responsive, and interactive prototypes.</p>
                    <p>Using code enables me to focus on the technical considerations of a design: responsive flow, document hierarchy, performance, progressive enhancement, usability, and accessability. </p>
                    <p>By combining logic-less JS templating with dummy data I can quickly test an interface against edge cases and transient or empty states. </p>
                </div>
                <div class="column-half"><img src="images/svg/illustration/prototype.svg" class="illustration" /></div>
            </div>
        </div>
    </section>

    <section class="section" id="test">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h3 class="heading--subtle">Usability testing</h3>
                    <p class="heading">I test with users</p>
                    <p>Ideally, prototypes are tested with real users in real situations. However, I'm partial to guerrilla testing when deadlines are tight. Testing validates design decisions, evaluates usability, and uncovers subtleties not exposed during discovery. </p>
                    <p>Prototypes have a primary purpose; is my understanding and design thinking right or wrong?</p>
                </div>
                <div class="column-half--alt"><img src="images/svg/illustration/test.svg" class="illustration" style="
    transform: rotate(-15deg);
    z-index: 99;
    margin: -120px auto;
" /></div>
            </div>
        </div>
    </section>

    <section class="section" id="develop">
        <div class="content">
            <div class="grid-row">
                <div class="column-half">
                    <h3 class="heading--subtle">Development</h3>
                    <p class="heading">I develop with love</p>
                    <p>I'm borderline obsessive about tooling, CSS architecture, semantics, accessability, and design systems.</p>
                    <p>I have over 15 years' experience collaborating with teams of all sizes. No matter the environment one aspect of my workflow has remained consistent - The use of pattern-led development.</p>
                    <p>Accessible, mobile first, mustard cutting, progressively enhanced awsomeness.</p>
                </div>
                <div class="column-half"><img src="images/svg/illustration/develop.svg" class="illustration" /></div></div>
            </div>
        </div>
    </section>

    <section class="section section--data u-text-inverse" id="data">
        <div class="content">
            <div class="grid-row">
                <div class="column-half--alt">
                    <h3 class="heading--subtle">Continuous improvement and measurement</h3>
                    <p class="heading">I continue to learn when it's live</p>
                    <p>By establishing, and benchmarking, metrics upfront we can measure success by tracking how users engage across physical and digital environments.</p>
                    <p>Combining big data and thick (qualitative) data allows us to understand both the ‘what’ and ‘why’ of user behaviour.</p>
                </div>
                <div class="column-half--alt"><img src="images/svg/illustration/data.svg" style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);" class="illustration" /></div></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content u-text-center">
            <h2 id="brands" class="heading anim anim-hidden">Brands I've worked with</h2>
            <p id="brandsSub" class="anim anim-hidden">I have had the pleasure of working with some of the world's most well-known brands</p>
            <ul id="brandList" class="list-grid u-mt-1 anim anim-hidden">
                <li><img src="/images/svg/client-american-express.svg" height="48" class="image-callout" alt="American express"></li>
                <li><img src="/images/svg/client-gov.uk.svg" height="48" class="image-callout" alt="GOV.uk"></li>
                <li><img src="/images/svg/client-johnlewis.svg" height="48" class="image-callout" alt="John Lewis"></li>
                <li><img src="/images/svg/client-lexus.svg" height="48" class="image-callout" alt="Lexus"></li>
                <li><img src="/images/svg/client-manchester-united.svg" height="48" class="image-callout" alt="Manchester United"></li>
                <li><img src="/images/svg/client-tesco.svg" height="48" class="image-callout" alt="Tesco"></li>
                <li><img src="/images/svg/client-toyota.svg" height="48" class="image-callout" alt="Toyota"></li>
                <li><img src="/images/svg/client-vauxhall.svg" height="48" class="image-callout" alt="Vauxhall"></li>
                <li><img src="/images/svg/client-volkswagen.svg" height="48" class="image-callout" alt="Volkswgen"></li>
            </ul>
        </div>
    </section>
</main>

<style>
    .doughnuts{
        height: 140px;
        margin-left: -50px;
        margin-top: -100px;
        position: relative;
        transform: rotate(-38deg);
        width: 220px;
    }

    .doughnuts__box{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .doughnuts__shadow{
        transform: translate3d(-15px, 15px, 0px);
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform .3s;
        opacity: 0.3;
    }

    .coffeecup {
        position: absolute;
        top: 300px;
        left: 500px;
    }
    .coffeecup #swirl {
        width: 34px; height: 34px;
        animation: 20s linear 0s normal none infinite running spin;
        transform-origin: 40px 40px;

    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
