<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tom Carrington | More than just pixels</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{> favicons }}
        {{> stylesheets }}
        {{> javascripts }}
        {{> loadJS }}
    </head>
<body>
<script>
// Add class
    if ( 'querySelector' in document
         && 'localStorage' in window
         && 'addEventListener' in window 
         && can_svg_as_image 
         && can_svg_inline) {
        document.body.className = "is_advannced";
    }
</script>

    {{> svg_defs }}
    
    {{> global_header }}
    
    {{{body}}}

    {{> global_footer }}

    {{{block "scripts"}}}
<script>
    var waypoint = new Waypoint({
        element: document.getElementById('brands'),
        handler: function() {
            document.getElementById('brands').classList.remove('isHidden');
            document.getElementById('brands').classList.add('zoomIn');
            
            document.getElementById('brandsSub').classList.remove('isHidden');
            document.getElementById('brandsSub').classList.add('fadeInUp');

            // document.getElementById('brands').addEventListener("animationend", function(){
            //     document.getElementById('brandsSub').classList.remove('isHidden');
            //     document.getElementById('brandsSub').classList.add('fadeInUp');   
            // }, false);
        },
        offset: 'bottom-in-view'
    })
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<style>
    .isHidden { opacity:0; }

    .fadeIn {
        animation-duration: 0.9s;
    }
    .fadeInUp {
        animation-duration: 0.5s;
        animation-delay: 0.3s;
    }
</style>

</body>
</html>
