<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tom Carrington | UX Designer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{> favicons }}
        {{> stylesheets }}
        {{> javascripts }}
        {{> loadJS }}
    </head>
<body>
<script>
// Add class
    if ( 'querySelector' in document
         && 'localStorage' in window
         && 'addEventListener' in window
         && can_svg_as_image
         && can_svg_inline) {
        document.body.className = "is_advannced";
    }
</script>
    {{> svg_defs }}

    {{{body}}}

    {{> global_footer }}

    {{{block "scripts"}}}
<script>
    var waypoint = new Waypoint({
        element: document.getElementById('brands'),
        handler: function(direction) {
            document.getElementById('brands').classList.remove('anim-hidden');
            document.getElementById('brands').classList.add('anim-zoom-in');

            // document.getElementById('brandsSub').classList.remove('anim-hidden');
            // document.getElementById('brandsSub').classList.add('anim-fade-in-up');

            document.getElementById('brandList').classList.remove('anim-hidden');
            document.getElementById('brandList').classList.add('anim-fade-in');
        },
        offset: 'bottom-in-view'
    })


    var wp_hero = new Waypoint.Inview({
        element: document.getElementById('hero'),
        enter: function(direction) {
            this.element.classList.remove('anim-paused');
        },
        exited: function(direction) {
            this.element.classList.add('anim-paused');
        }
    })

    var wp_design = new Waypoint.Inview({
        element: document.getElementById('design'),
        enter: function(direction) {
            this.element.classList.remove('anim-paused');
        },
        exited: function(direction) {
            this.element.classList.add('anim-paused');
        }
    })

    // var wp_proto = new Waypoint.Inview({
    //     element: document.querySelector('.prototype-illustration'),
    //     enter: function(direction) {
    //         document.querySelector('.prototype-illustration').classList.remove('anim-hidden')
    //         document.querySelector('.prototype-illustration').classList.add('anim-fade-in')
    //
    //         // document.querySelector('.prototype-content').classList.remove('anim-hidden')
    //         // document.querySelector('.prototype-content').classList.add('anim-fade-in')
    //
    //     },
    //     offset: '50%'
    // })



</script>
</body>
</html>
