<section class="process-section">
    <div class="content">
        <a href="#" onclick="animIn();">Trigger</a>
        <br />
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" viewBox="0 0 520 520" y="0px" x="0px" class="person">
            <defs>
                <mask id="person__mask" x="0" y="0" width="520" height="520">
                    <path d="M260.000,445.999 C157.827,445.999 75.000,363.079 75.000,260.793 L75.000,0.001 L445.000,0.001 L445.000,260.793 C445.000,363.079 362.173,445.999 260.000,445.999 Z" fill="#fff"/>
                </mask>
                <linearGradient id="person-gradient-glasses" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0" stop-color="#d0cfcf" />
                    <stop offset="60%" stop-color="#d0cfcf" />
                    <stop offset="60%" stop-color="#c5c4c4" />
                    <stop offset="100%" stop-color="#c5c4c4" />
                </linearGradient>
                <linearGradient id="person-gradient-skin">
                    <stop stop-color="#f1d1ac" offset="0" />
                    <stop stop-color="#f1d1ac" offset="50%" />
                    <stop stop-color="#e1be9b" offset="50%" />
                    <stop stop-color="#e1be9b" offset="100%" />
                </linearGradient>
            </defs>
            <g>
                <circle cx="260" cy="260" r="185" class="person__circle" id="circle" />
            </g>
            <g id="view" mask="url(#person__mask)">
                <g id="avatar">
                    <path d="M303,376c-2.986,0-3-3-6-3c-19.696,0.09-55,0-73.988-0.095c-3.104,0-3.105,3.095-6.012,3.095 c-68.055,8.903-66,49.405-66,114h218C369,425.581,371.27,385.068,303,376z" class="person__jumper" />
                    <path d="M232.000,348.000 C234.071,348.000 284.964,348.000 288.000,348.000 C288.000,352.000 288.000,370.000 297.000,375.000 C297.000,381.667 272.000,420.000 259.964,420.000 C248.000,420.000 223.000,381.667 223.000,375.000 C232.000,370.000 232.000,352.000 232.000,348.000 Z" class="person__face" fill="url(#person-gradient-skin)" />
                    <path d="M260.000,344.000 C288.000,344.000 288.000,343.716 288.000,352.000 C288.000,360.284 264.000,367.000 260.000,367.000 C256.000,367.000 232.000,360.284 232.000,352.000 C232.000,343.716 232.000,344.000 260.000,344.000 Z" class="person__neck-shadow" />
                    <path d="M365.414,271.361 C373.010,269.109 396.000,260.290 396.000,236.000 C396.000,217.050 378.000,209.453 368.984,222.490 C368.708,117.157 363.370,67.000 260.000,67.000 C157.578,67.000 151.289,117.157 151.016,222.489 C141.000,209.453 124.000,217.050 124.000,236.000 C124.000,260.784 147.171,269.308 154.676,271.420 M365.414,271.361 C349.561,336.144 288.000,352.000 260.000,352.000 C232.000,352.000 170.677,335.439 154.676,271.420 " class="person__face-shadow" />
                    <path d="M358.000,272.000 C342.000,337.000 284.891,352.000 260.000,352.000 C235.154,352.000 178.000,337.000 162.000,272.000 C166.000,240.000 157.016,240.000 157.016,222.489 C151.000,125.000 157.578,67.000 260.000,67.000 C363.370,67.000 369.000,125.000 362.984,222.490 C362.984,240.000 354.000,240.000 358.000,272.000 Z" class="person__face" fill="url(#person-gradient-skin)" />
                    <path d="M370.000,230.000 C370.400,224.349 385.376,217.132 390.000,233.000 C394.624,248.868 372.917,264.643 364.000,262.000 C359.484,250.456 372.307,252.839 373.000,244.000 C373.693,235.161 369.160,241.852 370.000,230.000 ZM149.929,229.641 C149.522,223.976 134.326,216.741 129.634,232.648 C124.942,248.555 146.969,264.368 156.017,261.718 C160.599,250.146 147.587,252.535 146.885,243.675 C146.182,234.815 150.781,241.521 149.929,229.641 Z" class="person__inner-ear" />
                    <path d="M369.000,209.000 C369.000,209.000 372.000,152.823 372.000,125.000 C372.000,110.532 369.000,90.895 354.000,94.000 C357.918,88.340 328.004,75.606 316.000,71.000 C166.991,18.847 184.471,44.529 151.000,78.000 C143.753,85.247 137.000,73.000 137.000,73.000 C137.000,73.000 136.462,90.855 154.000,100.000 C141.000,127.000 151.000,209.000 151.000,209.000 L154.000,209.000 C154.000,209.000 154.431,182.999 155.026,177.058 C155.442,172.906 154.905,155.618 157.000,152.000 C158.693,149.076 162.604,146.062 164.000,144.000 C168.282,137.677 171.000,130.941 171.000,126.000 C171.000,119.342 172.592,110.238 178.000,113.000 C190.201,119.231 209.762,131.000 260.000,131.000 C286.467,131.000 302.000,107.000 344.000,107.000 C349.463,107.000 349.826,114.494 349.011,123.543 C349.011,134.608 352.722,137.745 356.000,144.000 C357.849,147.527 358.978,150.403 360.982,153.855 C362.125,155.825 361.101,172.854 362.000,175.000 C364.791,181.662 365.000,209.000 365.000,209.000 L369.000,209.000 Z" class="person__hair" />
                    <path d="M154.000,100.000 C154.636,100.443 172.324,112.000 176.000,112.000 C169.869,112.000 162.639,111.868 151.000,110.000 C152.137,101.932 153.364,99.557 154.000,100.000 Z" class="person__hair-shadow" />
                    <path d="M358.537,249.882 C357.244,254.158 354.825,257.943 350.812,260.109 C347.949,261.655 344.683,262.581 341.498,263.407 C335.907,264.857 330.137,265.212 324.386,265.543 C322.019,265.678 319.641,265.623 317.268,265.655 C311.292,265.972 305.350,265.595 299.426,264.750 C295.176,264.143 291.545,262.490 288.853,259.135 C285.831,255.370 283.469,251.195 281.520,246.803 C279.417,242.065 277.468,237.264 276.311,232.194 C275.392,228.165 275.247,224.149 276.296,220.093 C277.937,213.745 282.239,209.970 288.193,207.747 C292.105,206.285 296.211,205.623 300.333,205.135 C310.815,203.895 321.345,203.340 331.896,203.279 C338.143,203.243 344.400,203.277 350.550,204.650 C352.994,205.195 355.270,206.105 357.289,207.604 C360.772,210.191 362.284,213.836 362.470,217.945 C362.961,228.794 361.683,239.474 358.537,249.882 ZM238.621,246.853 C236.665,251.263 234.295,255.456 231.263,259.237 C228.562,262.605 224.919,264.265 220.656,264.874 C214.712,265.723 208.750,266.101 202.754,265.783 C200.373,265.751 197.987,265.807 195.612,265.670 C189.842,265.339 184.053,264.981 178.444,263.526 C175.248,262.696 171.971,261.766 169.099,260.214 C165.072,258.039 162.645,254.239 161.348,249.946 C158.191,239.494 156.909,228.770 157.402,217.877 C157.589,213.751 159.106,210.091 162.601,207.493 C164.626,205.988 166.909,205.075 169.362,204.527 C175.531,203.148 181.810,203.114 188.077,203.151 C198.663,203.212 209.229,203.769 219.745,205.014 C223.881,205.504 228.001,206.169 231.926,207.636 C237.900,209.869 242.215,213.660 243.862,220.034 C244.915,224.106 244.769,228.139 243.847,232.184 C242.686,237.275 240.731,242.097 238.621,246.853 Z" class="person__lenses" fill="url(#person-gradient-glasses)" />
                    <path d="M374.666,213.201 C374.617,214.112 374.218,214.786 373.397,215.315 C371.396,216.605 370.503,218.678 369.955,220.834 C368.501,226.560 367.217,232.328 365.776,238.057 C364.665,242.476 363.609,246.923 362.190,251.249 C359.364,259.866 353.211,265.111 344.396,267.119 C340.059,268.107 335.602,268.717 331.164,269.095 C325.187,269.604 319.179,269.841 313.180,269.976 C307.194,270.110 303.535,269.702 297.656,268.733 C291.611,267.736 287.151,264.565 283.662,259.746 C279.589,254.122 276.542,247.960 273.850,241.613 C272.610,238.688 271.520,235.701 270.314,232.762 C269.883,231.712 269.389,230.670 268.786,229.709 C266.972,226.813 263.253,225.212 260.000,225.126 C256.747,225.212 253.028,226.813 251.214,229.709 C250.611,230.670 250.117,231.712 249.686,232.762 C248.480,235.701 247.390,238.688 246.150,241.613 C243.458,247.960 240.411,254.122 236.338,259.746 C232.849,264.565 228.389,267.736 222.344,268.733 C216.465,269.702 212.806,270.110 206.820,269.976 C200.821,269.841 194.813,269.604 188.836,269.095 C184.398,268.717 179.941,268.107 175.604,267.119 C166.789,265.111 160.636,259.866 157.810,251.249 C156.391,246.923 155.335,242.476 154.224,238.057 C152.783,232.328 151.499,226.560 150.045,220.834 C149.497,218.678 148.604,216.605 146.603,215.315 C145.782,214.786 145.383,214.112 145.334,213.201 C145.201,210.723 144.997,208.244 144.997,205.765 C144.998,203.495 145.106,203.514 147.339,202.871 C158.753,199.583 170.467,198.343 182.291,198.075 C188.743,197.929 195.214,198.004 201.660,198.312 C209.744,198.699 217.821,199.331 225.884,200.041 C230.829,200.477 235.476,201.966 239.725,204.653 C241.948,206.059 244.302,207.326 246.735,208.326 C251.013,210.086 255.419,210.475 259.999,210.402 L259.999,210.402 C259.999,210.402 260.000,210.402 260.000,210.402 C260.000,210.402 260.001,210.402 260.001,210.402 L260.001,210.402 C264.581,210.475 268.987,210.086 273.265,208.326 C275.698,207.326 278.052,206.059 280.275,204.653 C284.524,201.966 289.171,200.477 294.116,200.041 C302.179,199.331 310.256,198.699 318.340,198.312 C324.786,198.004 331.257,197.929 337.709,198.075 C349.533,198.343 361.247,199.583 372.661,202.871 C374.894,203.514 375.002,203.495 375.003,205.765 C375.003,208.244 374.799,210.723 374.666,213.201 ZM243.704,220.093 C242.063,213.745 237.761,209.970 231.807,207.747 C227.895,206.285 223.789,205.623 219.667,205.135 C209.185,203.895 198.655,203.340 188.104,203.279 C181.857,203.243 175.600,203.277 169.450,204.650 C167.006,205.195 164.730,206.105 162.711,207.604 C159.228,210.191 157.716,213.836 157.530,217.945 C157.039,228.794 158.317,239.474 161.463,249.882 C162.756,254.158 165.175,257.943 169.188,260.109 C172.051,261.655 175.317,262.581 178.502,263.407 C184.093,264.857 189.863,265.212 195.614,265.543 C197.981,265.678 200.359,265.623 202.732,265.655 C208.708,265.972 214.650,265.595 220.574,264.750 C224.824,264.143 228.455,262.490 231.147,259.135 C234.169,255.370 236.531,251.195 238.480,246.803 C240.583,242.065 242.532,237.264 243.689,232.194 C244.608,228.165 244.753,224.149 243.704,220.093 ZM362.470,217.945 C362.284,213.836 360.772,210.191 357.289,207.604 C355.270,206.105 352.994,205.195 350.550,204.650 C344.400,203.277 338.143,203.243 331.896,203.279 C321.345,203.340 310.815,203.895 300.333,205.135 C296.211,205.623 292.105,206.285 288.193,207.747 C282.239,209.970 277.937,213.745 276.296,220.093 C275.247,224.149 275.392,228.165 276.311,232.194 C277.468,237.264 279.417,242.065 281.520,246.803 C283.469,251.195 285.831,255.370 288.853,259.135 C291.545,262.490 295.176,264.143 299.426,264.750 C305.350,265.595 311.292,265.972 317.268,265.655 C319.641,265.623 322.019,265.678 324.386,265.543 C330.137,265.212 335.907,264.857 341.498,263.407 C344.683,262.581 347.949,261.655 350.812,260.109 C354.825,257.943 357.244,254.158 358.537,249.882 C361.683,239.474 362.961,228.794 362.470,217.945 Z" class="person__frames" />
                    <path d="M223.000,358.000 L245.000,372.000 C245.000,372.000 253.494,405.308 260.000,420.000 C249.083,420.000 235.825,398.081 231.000,391.000 C230.050,392.236 228.000,395.000 228.000,395.000 L219.000,378.000 L223.000,358.000 Z" class="person__shirt" />
                    <path d="M244.000,371.000 C244.000,371.000 232.000,388.880 232.000,390.000 C232.000,393.551 234.000,395.000 234.000,395.000 L244.000,371.000 Z" class="person__shirt-shadow" />
                    <path d="M297.000,358.000 L275.000,372.000 C275.000,372.000 266.506,405.308 260.000,420.000 C270.917,420.000 284.175,398.081 289.000,391.000 C289.950,392.236 292.000,395.000 292.000,395.000 L301.000,378.000 L297.000,358.000 Z" class="person__shirt" />
                    <path d="M276.000,371.000 C276.000,371.000 288.000,388.880 288.000,390.000 C288.000,393.551 286.000,395.000 286.000,395.000 L276.000,371.000 Z" class="person__shirt-shadow" />
                </g>
            </g>
        </svg>
        <a href="#" onclick="animOut();">Reset</a>
    </div>
</section>
<script type="text/javascript">
    oCircle = document.getElementById('circle');
    oAvatar = document.getElementById('avatar');

    function animIn(){
        oCircle.addEventListener('transitionend', cb_circleIn, false);
        oCircle.setAttribute("class", 'animated');
    }
    function cb_circleIn() {
        console.log('circle:ended');
        oAvatar.addEventListener('transitionend', cb_avatarIn, false);
        oAvatar.setAttribute("class", "animated");
    }
    function cb_avatarIn() {
        console.log('avatar:ended');
    }
    function animOut(){
        oCircle.removeEventListener('transitionend', cb_circleIn, false);
        oAvatar.removeEventListener('transitionend', cb_avatarIn, false);
        oAvatar.setAttribute("class", "");
        oAvatar.addEventListener('transitionend', cb_personOut, false);
    }

    function cb_personOut(){
        oCircle.setAttribute("class", "person__circle"); 
        oAvatar.removeEventListener('transitionend', cb_personOut, false);
    }
</script>