<main id="content" role="main">
    <section class="hero">
        <div class="content">
            <h1 class="heading--xl">Pattern library</h1>
        </div>
    </section>
    <section class="section">
        <div class="content">
            <h2 class="heading--pttn">Typography</h2>
            <div class="callout">
                <p>Using a 24px baseline that needs to be maintained for vertical rythym.</p>
            </div>
            <h3 class="heading--xl">Heading extra large</h3>
            <h3 class="heading--l">Heading large</h3>
            <h3 class="heading">Heading</h3>
            <p class="lede">This paragraph leads in...</p>
            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <p>Lex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="ledeOut">This is a paragraph leads out.</p>
            <ul class="list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
            </ul>
            <blockquote>
                <p>A clever and witty quote</p>
                <cite>Author's name</cite>
            </blockquote>
        </div>
    </section>
    <section class="section">
        <div class="content">
            <h2 class="heading--pttn">Buttons</h2>
            <a href="#" class="button">Click me</a>
            <a href="#" class="button button-small">Click me</a>
        </div>
    </section>
    <section class="section">
        <div class="content">
            <h2 class="heading--pttn">Layout</h2>
            <h3 class="heading">2 column</h3>
            <div class="grid-row">
                <div class="column-half">
                    <img src="/images/tools.png" class="image-callout" alt="">
                </div>
                <div class="column-half">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
            <h3 class="heading">2 column (reversed)</h3>
            <div class="grid-row">
                <div class="column-half--alt">
                    <img src="/images/tools.png" class="image-callout" alt="">
                </div>
                <div class="column-half--alt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
            <h3 class="heading">3 column</h3>
            <div class="grid-row">
                <div class="column-third">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="column-third">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="column-third">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content">
            <h2 class="heading--pttn">Home section</h2>
            <div class="grid-row">
                <div class="column-half">
                    <img src="/images/tools.png" class="image-callout" alt="">
                </div>
                <div class="column-half">
                    <h3 class="heading">Content heading</h3>
                    <p class="lede">This is a lede paragraph. Ut enim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation <a href="#">ad minim</a> ullamco laboris nisi ut aliquip.</p>
                    <p class="ledeOut">This paragraph leads to the next section&hellip;</p>
                </div>
            </div>            
        </div>
    </section>
    <section class="section">
        <div class="content content--blog">
            <h2 class="heading--pttn">Blog sectiion</h2>

        </div>
    </section>
</main>
