.anim {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.anim-hidden {
    opacity: 0;
}

@import 'fade-in';
@import 'fade-in-up';
@import 'fade-in-x';
@import 'zoom-in';
@import 'bubbles';
@import 'touch-event';
@import 'swipe-event';
@import 'heartbeat';
