.anim {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.anim-hidden {
    opacity: 0;
}

.svg-font {
    display: inline-block;
    fill: #ce616e;
    height: 1em;
    left: 3px;
    position: relative;
    top: 3px;
}

.svg-font2 {
    display: inline-block;
    fill: transparent;
    position: relative;
    height: 1em;
    
    stroke: #b94c59;
    stroke-width: 3px;
    stroke-dasharray: 165;
    stroke-dashoffset: 165;
    animation: dash 1.3s ease-out forwards;
}

@keyframes dash {
    0% { 
        stroke-dashoffset: 165; 
        fill: transparent;
    }
    50% { 
        stroke-dashoffset: 0; 
        fill: transparent;
    }
    100% { 
        fill: #ce616e; 
        stroke-dashoffset: 0;
    }
}

@import 'fade-in';
@import 'fade-in-up';
@import 'heartbeat';
@import 'zoom-in';
@import 'orbit2';
