@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.anim-fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;

    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;

    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.anim-fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;

    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;

    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
