$x-pos: 50px;
$y-pos: 125px;

.planet {
    position: absolute;
    left: $x-pos;
    top: $y-pos;
    width: 100px;
    height: 100px;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    border-radius: 50%;

    &::after,
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    }
  
    &::after {
        // BASE + 2 * distance
        // 100 + (2*150)
        width: 400px;
        height: 400px;
        // 1/2 height - 50
        margin: -150px;
    }

    &::before {
        // BASE + 4 * distance
        // 100 + (4*150)
        width: 700px;
        height: 700px;
        // 1/2 height - 50
        margin: -300px;
    }
}
.planet2{
    position: absolute;
    left: $x-pos;
    top: $y-pos;
    
    &::after,
    &::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 50%;
        // border: 1px solid green;
        box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    }
  
    &::after {
        // BASE + 6 * distance = 100 + (6*150)
        width: 1000px;
        height: 1000px;
        // 1/2 height - 50
        margin: -450px;
    }

    &::before {
        // BASE + 8 * distance = 100 + (8*150)
        width: 1300px;
        height: 1300px;
        // 1/2 height - 50
        margin: -600px;
    }
}

.moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
    background-color: #4b3958;
    position: absolute;
    left: $x-pos;
    top: $y-pos;
    // Text stuff
    text-align: center;
    line-height: 100px;
}

.moon1 {
    animation: orbit1 90s linear reverse infinite;
}
.moon1-R {
    animation: orbit1REVERSE 90s linear reverse infinite;
}
.moon2 {
    animation: orbit2 99s linear infinite;
}

.moon3 {
    animation: orbit3 120s linear infinite;
}

.moon4 {
    animation: orbit4 120s linear reverse infinite;
}
.moon5 {
    animation: orbit5 120s linear reverse infinite;
}

@keyframes orbit1 {
    from { transform: rotate(0deg) translate3d(200px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(200px,0,0) rotate(-360deg); }
}
@keyframes orbit1REVERSE {
    from { transform: rotate(0deg) translate3d(-200px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(-200px,0,0) rotate(-360deg); }
}
@keyframes orbit2 {
    from { transform: rotate(0deg) translate3d(0,350px,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(0,350px,0) rotate(-360deg); }
}
@keyframes orbit3 {
    from { transform: rotate(0deg) translate3d(500px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(500px,0,0) rotate(-360deg); }
}
@keyframes orbit4 {
    from { transform: rotate(0deg) translate3d(650px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(650px,0,0) rotate(-360deg); }
}

@keyframes orbit5 {
    from { transform: rotate(0deg) translate3d(460px,460px,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(460px,460px,0) rotate(-360deg); }
}
