$x-pos: 50%;
$y-pos: 300px;
$centerspace: 100px;
$distance-between-orbits: 300px;

@mixin threeorbits($startpoint) {
    $radius: $centerspace + ($startpoint * $distance-between-orbits);
    position: absolute;
    left: $x-pos;
    top: $y-pos;
    width: $radius;
    height: $radius;
    margin: -(($radius / 2) -  ($centerspace / 2));
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    border-radius: 50%;

    &::after,
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    }
    
    &::before {
        $radius: $centerspace + (($startpoint + 1) * $distance-between-orbits);
        width: $radius;
        height: $radius;
        margin: -($distance-between-orbits / 2);
    }

    &::after {
        $radius: $centerspace + (($startpoint + 2) * $distance-between-orbits);
        width: $radius;
        height: $radius;
        margin: -($distance-between-orbits);
    }
}

.rings { 
    @include threeorbits(1);
}

.rings2 { 
    @include threeorbits(4);
}

.moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    background-color: rgba(75, 57, 88, 1);
    position: absolute;
    left: $x-pos;
    top: $y-pos;

    svg .shadow {
        opacity: 0.3;
    }
}

.moon1 {
    animation: orbit1 90s linear reverse infinite;
}
.moon1-R {
    animation: orbit1REVERSE 90s linear reverse infinite;
}
.moon2 {
    animation: orbit2 99s linear infinite;
}

.moon3 {
    animation: orbit3 120s linear infinite;
}

.moon4 {
    animation: orbit4 120s linear reverse infinite;
}
.moon5 {
    animation: orbit5 120s linear reverse infinite;
}

@keyframes orbit1 {
    from { transform: rotate(0deg) translate3d(200px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(200px,0,0) rotate(-360deg); }
}
@keyframes orbit1REVERSE {
    from { transform: rotate(0deg) translate3d(-200px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(-200px,0,0) rotate(-360deg); }
}
@keyframes orbit2 {
    from { transform: rotate(0deg) translate3d(0,350px,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(0,350px,0) rotate(-360deg); }
}
@keyframes orbit3 {
    from { transform: rotate(0deg) translate3d(500px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(500px,0,0) rotate(-360deg); }
}
@keyframes orbit4 {
    from { transform: rotate(0deg) translate3d(650px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(650px,0,0) rotate(-360deg); }
}

@keyframes orbit5 {
    from { transform: rotate(0deg) translate3d(460px,460px,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(460px,460px,0) rotate(-360deg); }
}
