$x-pos: 50px;
$y-pos: 125px;
$base: 100px;
$distance-between-orbits: $base * 1.5;


@mixin planz($number, $ring1, $ring2){

    position: absolute;
    left: $x-pos;
    top: $y-pos;
    width: $base;
    height: $base;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    border-radius: 50%;

    &::after,
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    }

    &::after {
        $radius: $base + ($ring1 * $distance-between-orbits);
        width: $radius;
        height: $radius;
        // 1/2 radius - 50
        margin: -(($radius / 2) -  ($base / 2));
    }

    &::before {
        $radius: $base + ($ring2 * $distance-between-orbits);
        width: $radius;
        height: $radius;
        // 1/2 radius - 50
        // margin: (-50 + $radius / 2) * -1;
        margin: -(($radius / 2) -  ($base / 2));
    }
}

.planet { @include planz( 1, 2, 4);}
.planet2 { @include planz( 2, 6, 8);}
.planet3 { @include planz( 3, 10, 12);}

// TODO: 
// SASS FUNCTION: PASS IN ORBIT NUMBER THEN PRINT THE NEXT 3

// .planet2 {
//     $radius: $base + (6 * $distance-between-orbits);
//     position: absolute;
//     left: $x-pos;
//     top: $y-pos;
//     width: $radius;
//     height: $radius;
//     margin: -(($radius / 2) -  ($base / 2));
//     box-shadow: inset 0px 0px 0px 1px red;
//     border-radius: 50%;

//     &::after,
//     &::before {
//         content: '';
//         position: absolute;
//         display: block;
//         border-radius: 50%;
//         box-shadow: inset 0px 0px 0px 1px red;
//     }

//     &::after {
//         $radius: $base + (8 * $distance-between-orbits);
//         width: $radius;
//         height: $radius;
//         margin: -150px;
//     }

//     // 12 = -450
//     // 10 = -300
//     // 8  = -150

//     &::before {
//         $radius: $base + (10 * $distance-between-orbits);
//         width: $radius;
//         height: $radius;
//         margin: -300px;
//     }

// }
// .planet3 {
//     $radius: $base + (12 * $distance-between-orbits);
//     position: absolute;
//     left: $x-pos;
//     top: $y-pos;
//     width: $radius;
//     height: $radius;
//     margin: -(($radius / 2) -  ($base / 2));
//     box-shadow: inset 0px 0px 0px 1px yellow;
//     border-radius: 50%;

//     &::after,
//     &::before {
//         content: '';
//         position: absolute;
//         display: block;
//         border-radius: 50%;
//         box-shadow: inset 0px 0px 0px 1px yellow;
//     }

//     &::after {
//         $radius: $base + (14 * $distance-between-orbits);
//         width: $radius;
//         height: $radius;
//         margin: -150px;
//     }

    // 12 = -450
    // 10 = -300
    // 8  = -150

//     &::before {
//         $radius: $base + (16 * $distance-between-orbits);
//         width: $radius;
//         height: $radius;
//         margin: -300px;
//     }

// }


.moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
    background-color: #4b3958;
    position: absolute;
    left: $x-pos;
    top: $y-pos;
    // Text stuff
    text-align: center;
    line-height: 100px;
}

.moon1 {
    animation: orbit1 90s linear reverse infinite;
}
.moon1-R {
    animation: orbit1REVERSE 90s linear reverse infinite;
}
.moon2 {
    animation: orbit2 99s linear infinite;
}

.moon3 {
    animation: orbit3 120s linear infinite;
}

.moon4 {
    animation: orbit4 120s linear reverse infinite;
}
.moon5 {
    animation: orbit5 120s linear reverse infinite;
}

@keyframes orbit1 {
    from { transform: rotate(0deg) translate3d(200px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(200px,0,0) rotate(-360deg); }
}
@keyframes orbit1REVERSE {
    from { transform: rotate(0deg) translate3d(-200px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(-200px,0,0) rotate(-360deg); }
}
@keyframes orbit2 {
    from { transform: rotate(0deg) translate3d(0,350px,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(0,350px,0) rotate(-360deg); }
}
@keyframes orbit3 {
    from { transform: rotate(0deg) translate3d(500px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(500px,0,0) rotate(-360deg); }
}
@keyframes orbit4 {
    from { transform: rotate(0deg) translate3d(650px,0,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(650px,0,0) rotate(-360deg); }
}

@keyframes orbit5 {
    from { transform: rotate(0deg) translate3d(460px,460px,0) rotate(0deg); }
    to { transform: rotate(360deg) translate3d(460px,460px,0) rotate(-360deg); }
}
