.gesture--swipe {
    transform: scale3d(1, 1, 1);
    background-color: #2f7bbd;
    animation: swipe .4s ease-out;
}

//  KEYFRAMES
@keyframes swipe {
    0% {
        transform: scale3d(.4, .4, 1);
        opacity: 1;
    }

    40% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, -400%, 0);
        width: 24px;
        opacity: 0;
    }
}
